//Base Colors
$color-white: #FFFFFF;
$color-gray-base: #EEEEEE;
$color-gray-dark: #595959;
$color-gray-darker: #4A4A4A;
$color-red-base: #D65439;

//Element Colors
$color-background: $color-gray-base;
$color-action-card: $color-red-base;

//Interactive Element Colors

//Non Color Variables
$time-default: 0.3s; // Default timing for interactions
$radius: 4px;