//Base Colors
$color-white: #FFFFFF;
$color-gray-base: #EEEEEE;
$color-gray-dark: #595959;
$color-gray-darker: #4A4A4A;
$color-gray-light: #938c8c;
$color-gray-lighter: #D8D8D8;
$color-red-base: #D65439;

//Element Colors
$color-text: $color-gray-darker;
$color-background: $color-gray-base;
$color-action-card: $color-red-base;
$color-org-card: $color-red-base;
$color-org-border: $color-gray-lighter;
$color-order-detail-header: $color-gray-light;
$color-order-detail-text: $color-red-base;
$color-order-detail-border: $color-gray-lighter;
$color-edit-entity-border: $color-gray-lighter;

//Interactive Element Colors

//Non Color Variables
$time-default: 0.3s; // Default timing for interactions
$timing-bounce: cubic-bezier(0, 1.450, 0.830, 0.920);
$radius: 4px;

//Font weights
$font-weight-light: 300;
$font-weight-semibold: 600;