@import '_includes';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab');

html {
  & body {
    color: $color-text;
    background-color: $color-background;
    font-size: rem(14px);
  }

  & .ui-view-container {
    background-color: $color-background;
  }
}