@import '_includes';

.md-button {
  &.button-primary {
    color: $color-red-base;
  }

  &.md-raised, &.md-fab {
    &:not([disabled]).button-primary {
      color: $color-white;
      background-color: $color-red-base;
    }
  }
}

md-dialog.small-prompt {
  top: rem(-150px);
  width: rem(350px);
  color: $color-text;

  & md-dialog-content {
    padding: rem(40px) rem(40px) rem(40px) rem(40px);
    border-bottom: 1px solid $color-order-detail-border;
  }

  & i.material-icons {
    text-align: center;
    font-size: rem(72px);
    color: $color-red-base;
  }

  & .small-prompt-header {
    margin-top: rem(12px);
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: $color-text;
  }

  & .small-prompt-text {
    padding-top: rem(12px);
    font-size: rem(24px);
    color: $color-text;
    text-align: center;
  }

  & .small-prompt-subtext {
    padding-top: rem(12px);
    color: $color-text;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    top: initial;
  }
}

md-dialog.new-entity-popup {
  max-width: rem(500px);

  & md-dialog-content {
    padding: rem(40px) rem(40px) rem(40px) rem(40px);
    border-bottom: 1px solid $color-order-detail-border;
  }

  & .new-entity-header {
    display: flex;
    margin-bottom: rem(6px);
    color: $color-red-base;

    & > div {
      height: rem(48px);
      line-height: rem(60px);
      font-size: rem(24px);
      font-weight: bold;
    }

    & i.material-icons {
      font-size: rem(48px);
      margin-right: rem(6px);
    }
  }

  & .new-entity-close {
    position: absolute;
    top: rem(24px);
    right: rem(24px);
    font-size: rem(30px);
    cursor: pointer;
    outline: none;
    color: $color-gray-light;
  }

  md-input-container:last-child {
    margin-bottom: 0;
  }
}

md-dialog.small-prompt, md-dialog.new-entity-popup {
  & md-dialog-actions {
    padding: rem(12px);

    & button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

md-input-container.input-primary {
  &:not(.md-input-invalid).md-input-focused {

    & label {
      color: $color-red-base;
    }

    & input {
      border-color: $color-red-base;
    }
  }
}
