@import './includes';

#dashboard-section {
  padding: rem(60px) rem(80px) rem(60px) rem(80px);
  background-color: $color-background;
}

.action-cards-section {
  margin-bottom: rem(40px);
}

.org-divider {
  margin-bottom: rem(20px);
  padding-bottom: rem(6px);
  color: $color-red-base;
  font-size: rem(20px);
  font-weight: 800;
  border-bottom: 2px solid $color-gray-darker;
}