@import '_includes';

.md-button {
  &.button-primary {
    color: $color-red-base;
  }

  &.md-raised, &.md-fab {
    &:not([disabled]).button-primary {
      color: $color-white;
      background-color: $color-red-base;
    }
  }
}

md-input-container.input-primary {
  &:not(.md-input-invalid).md-input-focused {

    & label {
      color: $color-text;
    }

    & input {
      border-color: $color-input-border;
    }
  }

  & md-select:not([disabled]):focus .md-select-value {
    border-color: $color-input-border;
  }

  &.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
    color: $color-text;
  }
}

md-select-menu md-content {
  & md-option, md-option[selected] {
    color: $color-text !important;
  }

  & .md-checkbox-enabled[selected] .md-icon {
    background-color: $color-red-base;
    color: $color-text;
  }

  & .md-ink-ripple {
    color: $color-red-base;
  }
}

md-checkbox.md-checked.checkbox-primary {
  & .md-icon {
    background-color: $color-red-base;
  }

  & .md-ink-ripple {
    color: $color-red-base;
  }
}

.input-expandable {
  position: absolute;
  top: 2px;
  right: 0;
  width: auto;
  color: $color-org-card;
  cursor: pointer;
  z-index: 3;
  transition: opacity $time-default, transform $time-default $timing-bounce;

  input, input:hover {
    padding: 0 rem(4px) rem(4px) rem(24px);
    height: rem(20px);
    width: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-size: rem(14px);
    color: $color-org-card;
    cursor: pointer;
    outline: 0;
    transition: background-color $time-default, width $time-default $timing-bounce, padding $time-default $timing-bounce;

    &:focus {
      padding: 0 rem(4px) rem(4px) rem(24px);
      border-bottom: 2px solid $color-org-card;
      background-color: transparent;
      width: rem(128px);

      & + label:after {
        opacity: 1;
      }
    }
  }

  label {
    height: rem(16px);
    width: rem(16px);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-red-base;

    &:after {
      font-family: "Material Icons";
      content: "search";
      font-size: rem(20px);
      opacity: 0.7;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}

.entity-table-container.ng-enter, .entity-cards-container.ng-enter {
  transition: all 0.6s;
  transform: translate3d(-50vw, 0, 0);
  opacity: 0;
}

.entity-table-container.ng-enter-active, .entity-cards-container.ng-enter-active {
  transition: all 0.6s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
