<div class="font_for_allpages">
	<top-nav></top-nav>
	<div class="left_float"
		style="width: 19%; margin-right: 1%; padding-top: 20px; padding-left: 5px">
		<left-nav-bar></left-nav-bar>
	</div>
	<div class="left_float" style="width: 79.5%; background-color: white;">
		<div
			style="padding: 1px; background-color: rgba(128, 128, 128, 0.43);">
			<h1 style="color: white; text-align: left; padding-left: 50px;">Change
				Password</h1>
		</div>

		<div class="form_style">
			<div
				style="border: 1px solid rgba(128, 128, 128, 0.43);margin-left: 120px;"flex="60">
				<div>
					<div layout="row" layout-align="center">
					<md-input-container class="md-block input-primary" flex="40">
					<label>Old Password</label> <input type="password"
						id="input-password3" required ng-model="vm.oldPassword"> </md-input-container></div>
					<div layout="row" layout-align="center">
						<md-input-container class="md-block input-primary" flex="40">
						<label>Password</label> <input type="password"
							id="input-password1" required ng-model="vm.password"
							ng-blur="vm.checkPassword()"> </md-input-container>
					</div>
					<div layout="row" layout-align="center">
						<md-input-container class="md-block input-primary" flex="40">
						<label>Confirm password</label> <input type="password"
							id="input-password2" required ng-model="vm.passwordConfirm">
						</md-input-container>
					</div>
					<div style="margin-left:179px">
					<label >{{vm.question}} &nbsp;</label>
					<md-input-container class="input-primary" flex="30"
						style="margin-left: 1px;"> <input type="text"
						required ng-model="vm.answer"> </md-input-container></div>
					<br />
				</div>

				<div layout="row" layout-align="center">
					<md-input-container class="md-block input-primary" flex="50">
					<div id="errorMsg" ng-show="vm.check" style="color: red">
						Password must contain <br />
						<dl>
							<li>Atleast 6 characters long</li>
							<li>Atleast 1 numeric character</li>
							<li>Atleast 1 alphabet</li>
							<li>Atleast 1 special character</li>
						</dl>
					</div>
					</md-input-container>

					<div>
						<font color="red">{{vm.validateChangepassword}}</font>
					</div>
				</div>
			</div>
		</div>
		<div style="margin-left: 640px">
			<md-button class="md-raised button-primary" ng-click="vm.signIn();"
				ng-disabled="vm.isDisabled">{{vm.buttonText}}</md-button>
		</div>
	</div>
	<div class="clear_all">
		<landing-footer></landing-footer>
	</div>
</div>