<top-nav></top-nav>

<div class="background2">
<div id="login-container" class=" new_style" >
    <div class="login-box" layout="row" layout-wrap>
    <md-content class="md-whiteframe-4dp">
            <div class="login-box-internal">
                <div class="login-image-container">
                    <img class="login-logo" ng-src="~images/not_impossible_logo.png"/>
                </div>
 			<div class="login-prompt"><b>Register the profile</b></div>
 			<div layout-gt-xs="row" class="mission_width2">
				<md-input-container class="input-primary" style="margin-bottom:20px;" flex="70">
                    <label>FirstName</label>
              		<input type="text"  id="input-firstName" required ng-model="vm.firstName" >
                </md-input-container>
                <md-input-container class="md-block input-primary " style="margin-bottom:20px;margin-left:40px;" flex="70">
                    <label>Last Name</label>
					<input type="text" id="input-lastName"  required ng-model="vm.lastName" >
                </md-input-container>
               </div>
               <div layout-gt-xs="row" class="mission_width2">
                <md-input-container class="md-block input-primary" style="margin-bottom:20px;" flex="70">
                    <label>Gender</label>
                    <md-select ng-model="vm.genderCode"> 
                    <md-option value="M">Male</md-option> <md-option value="F">Female</md-option>
					</md-select>
				</md-input-container>
                <md-input-container class="md-block input-primary" style="margin-bottom:20px;margin-left:40px;" flex="70">
                    <label>Mobile Phone</label>
					<input type="text" id="input-lastName"  required maxlength="12" ng-model="vm.mobilePhone" ng-blur = "vm.checkPhoneNbr();vm.validationCheck('number','phone',vm.mobilePhone)" placeholder="999-999-9999">
					<div id="errorMsg" ng-if="vm.fields['phone']" style="color:red;" ng-bind="vm.msgs['phone']"></div>
                </md-input-container>
                </div>
                <md-input-container class="md-block input-primary" style="margin-bottom:20px;"  flex="70">
                    <label>User Name  {{vm.userNameMessage}}</label>
              		<input type="email" id="input-userName" class="font-weight_credential"  required ng-disabled="true" ng-model="vm.username" ng-change="vm.checkAvailability()"></b>
                </md-input-container>
                <md-input-container ng-if="vm.activationCodeNeeded" class="md-block input-primary" style="margin-bottom:20px;"  flex="70">
              		<label>Activation Code</label>
              		<input type="text" id="input-activationCode"  required ng-model="vm.activationCode">
                </md-input-container>
                <div layout-gt-xs="row" class="mission_width2">
                <md-input-container class="md-block input-primary" style="margin-bottom:20px;" flex="70">
                    <label>Password</label>
					<input type="password"  id="input-password1" required ng-model="vm.password" ng-blur="vm.checkPassword()">
                </md-input-container>
                
               
     			<md-input-container class="md-block input-primary" style="margin-bottom:20px;margin-left:40px;"  flex="70">
                    <label>Confirm Password</label>
					<input type="password"  id="input-password2" required ng-model="vm.passwordConfirm">
                </md-input-container>
            </div>
            <br>
             <md-input-container class="md-block input-primary"  flex="70">
                <div id="errorMsg" ng-show="vm.check" style="color:red;">
               Password must contain <br />
               <dl>
	               <li>Atleast 6 characters long</li>
	               <li>Atleast 1 numberic character</li>
	               <li>Atleast 1 alphabet</li>
	               <li>Atleast 1 special character</li>
               </dl>
               <br />
                </div>
                </md-input-container>
    		
                <div>
                	<center>
                		<font color = "red">{{vm.validateUserEnrollment}}</font>
                	</center>
                </div>
    		</div>
    		<md-button class="md-raised button-primary" ng-click="vm.signIn();" ng-disabled = "vm.isDisabled" >{{vm.buttonText}}</md-button>
 		</div>
	</md-content>
</div>
</div>
</div>
<landing-footer></landing-footer>