<top-nav></top-nav>

<div class="volunteer-landing-header" layout="row" layout-wrap>
    <div class="volunteer-welcome-header" flex="100">
        <span class="material-icons">&#xE420;</span>
        <div>Welcome!</div>
    </div>
    <div class="volunteer-landing-subheader" flex="100">
        Thank you for volunteering.
    </div>
    <div flex="100">
        <md-button ng-click="vm.placeOrders();">Place Orders</md-button>
    </div>
</div>

<div class="volunteer-landing-learn" layout="row" layout-wrap>
    <div flex="50" flex-xs="100">
        <img ng-src="~images/volunteer_landing_video.png" ng-click="vm.openVideo()">
    </div>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-section-header">
                <div>Learn</div>
                <div>How to Place an Order</div>
            </div>
            <div class="volunteer-landing-paragraph">Watch this video to see how to go through the order placement process.</div>
            <md-button class="md-raised button-primary" ng-click="vm.openVideo()">Watch Video</md-button>
        </div>
    </div>
</div>

<div class="volunteer-landing-signup" layout="row" layout-wrap>
    <div flex="50" flex-xs="100">
        <img ng-src="~images/volunteer_landing_volunteer.jpg" ng-click="vm.signUp()">
    </div>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-section-header">
                <div>Sign Up To</div>
                <div>Volunteer</div>
            </div>
            <div class="volunteer-landing-paragraph">Sign up for a 15-minute volunteer time slot between the hours of 10am-7pm.</div>
            <div class="volunteer-landing-paragraph"><strong>Note:</strong> You can sign up for as many time slots as desired.</div>
            <md-button class="md-raised button-primary" ng-click="vm.signUp()">Sign Up</md-button>
        </div>
    </div>
</div>

<div class="volunteer-landing-contact" layout="row" layout-wrap>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-section-header">
                <div>Have</div>
                <div>Questions or Concerns?</div>
            </div>
            <div class="volunteer-landing-paragraph">Should you have any questions, please ask using the <strong>#hnivolunteer</strong> slack channel, or contact us by phone or email.</div>
        </div>
    </div>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-landing-contact-section">
                <div>Name Here</div>
                <div>479-123-456</div>
                <div>name@emailaddress.com</div>
            </div>
        </div>
        <div>
            <div class="volunteer-landing-contact-section">
                <div>Name Here</div>
                <div>479-123-456</div>
                <div>name@emailaddress.com</div>
            </div>
        </div>
    </div>
</div>

<div class="volunteer-landing-bottom"></div>