<div>
<div class="left_float" style="width:19%;padding-top:15px;">
<left-nav-bar></left-nav-bar>
</div>
<div class="left_float" style="width:80.2%;background-color:white;padding-bottom:428px;margin-left:9px;">
<div class="volunteer-landing-header" layout="row" layout-wrap>
    <div class="volunteer-welcome-header" flex="100">
        <span class="material-icons">&#xE420;</span>
        <div>Welcome!</div>
    </div>
    <div class="volunteer-landing-subheader" flex="100">
        Thank you for volunteering.
    </div>
    <div flex="100">
        <md-button ng-click="vm.placeOrders();">Place Orders</md-button>
    </div>
</div>

<div class="volunteer-landing-learn" layout="row" layout-wrap>
    <div flex="50" flex-xs="100">
       
         <img ng-src="~images/volunteer_landing_pdf.jpg" style="height: 13.8125rem; width: 23.25rem;" ng-click="vm.openPdf()">
    </div>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-section-header">
                <div>Learn</div>
                <div>How to Place an Order</div>
            </div>
            <div class="volunteer-landing-paragraph">Read this document to know how to go through the order placement process.</div>
            <md-button class="md-raised button-primary" ng-click="vm.openPdf()">Read Guideline</md-button>
        </div>
    </div>
</div>


<!-- <div class="volunteer-landing-signup" layout="row" layout-wrap>
    <div flex="50" flex-xs="100" flex-order-xs="1">
        <div>
            <div class="volunteer-section-header">
                <div>Schedule your next</div>
                <div>Volunteer Session</div>
            </div>
            <div class="volunteer-landing-paragraph">Sign up for a 30-minute volunteer session between the hours of 10am&nbsp;-&nbsp;7pm.</div>
            <div class="volunteer-landing-paragraph"><strong>Note:</strong> You can sign up for as many time slots as desired.</div>
            <md-button class="md-raised button-primary" ng-click="vm.signUp()">Sign Up</md-button>
        </div>
    </div>
    <div flex="50" flex-xs="100" flex-order-xs="-1">
        <img ng-src="~images/volunteer_landing_volunteer.jpg" style="height: 13.8125rem;
    width: 23.25rem;" ng-click="vm.signUp()">
    </div>
</div>
 -->
<div class="volunteer-landing-contact" layout="row" layout-wrap>
    <div flex="50" flex-xs="100">
        <img ng-src="~images/volunteer_questions.jpg" style="height: 13.8125rem;
    width: 23.25rem;">
    </div>
    <div flex="50" flex-xs="100">
        <div>
            <div class="volunteer-section-header">
                <div>Have</div>
                <div>Questions or Concerns?</div>
            </div>
            <div class="volunteer-landing-paragraph">Should you have any questions, please ask using the <strong>#hnivolunteer</strong> slack channel, or contact us by phone or email.</div>
            <div class="volunteer-landing-email" ng-click="vm.openEmail()"><strong>hunger@notimpossiblelabs.com</strong></div>
        </div>
    </div>
</div>

</div>



</div>
<div class="clear_all">
<landing-footer></landing-footer>
</div>