@import '_includes';

$color-large-text: $color-red-base;
$color-volunteer-text: $color-gray-light;
$color-volunteer-bottom: $color-gray-light;

.volunteer-landing-header {
  display: flex;
  align-items: center;
  min-height: rem(300px);
  padding: rem(40px);
  text-align: center;
  color: $color-white;
  background-color: $color-red-base;

  & .md-button {
    border: 1px solid $color-white;
  }
}

.volunteer-welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;

  & .material-icons {
    margin-right: rem(6px);
    font-size: rem(48px);
  }

  & > div {
    font-size: rem(48px);
    font-weight: 800;
  }
}

.volunteer-landing-subheader {
  align-self: flex-start;
  font-size: rem(36px);
  font-weight: 300;
}

.volunteer-landing-learn, .volunteer-landing-signup, .volunteer-landing-contact {
  min-height: rem(360px);

  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: rem(30px);
  }

  & > div:nth-child(2) {
    justify-content: flex-start;
  }

  & img {
    outline: 0;
    cursor: pointer;
    user-select: none;
  }

  & button.button-primary {
    margin-top: rem(12px);
    margin-left: 0;
  }
}

.volunteer-landing-learn {
  & img {
    height: rem(210px);
    width: rem(350px)
  }
}

.volunteer-landing-signup {
  min-height: rem(400px);
  background-color: $color-white;

  & img {
    height: rem(230px);
    width: rem(350px)
  }
}

.volunteer-landing-contact {
  min-height: rem(360px);

  & img {
    height: rem(230px);
    width: rem(350px)
  }
}

.volunteer-landing-bottom {
  min-height: rem(80px);
  background-color: #828282;
}

.volunteer-section-header {
  margin-bottom: rem(18px);

  & div:first-child {
    text-transform: uppercase;
    letter-spacing: rem(0.5px);
    font-weight: 600;
    color: $color-volunteer-text;
  }

  & div:nth-child(2) {
    font-size: rem(24px);
    font-weight: 800;
    color: $color-large-text;
  }
}

.volunteer-landing-paragraph, .volunteer-landing-email {
  margin-bottom: rem(18px);
  max-width: rem(360px);
  font-size: rem(16px);
  color: $color-volunteer-text;
}

.volunteer-landing-email {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.volunteer-landing-contact-section {
  font-size: rem(16px);
  color: $color-volunteer-text;

  & > div:first-child {
    font-weight: bold;
    margin-bottom: rem(18px);
  }
}

@media screen and (min-width: 1280px) {
  .volunteer-landing-learn, .volunteer-landing-signup, .volunteer-landing-contact {
    height: rem(360px);

    & > div {
      padding-left: rem(60px);
      padding-right: rem(60px);
    }
  }

  .volunteer-landing-learn {
    & img {
      height: rem(285px);
      width: rem(500px);
    }
  }

  .volunteer-landing-signup {
    & img {
      height: rem(285px);
      width: rem(500px);
    }
  }

  .volunteer-landing-contact {
    & img {
      height: rem(285px);
      width: rem(500px);
    }
  }

  .volunteer-section-header {
    margin-bottom: rem(18px);

    & div:first-child {
      font-size: rem(16px);
    }

    & div:nth-child(2) {
      font-size: rem(30px);
    }
  }

  .volunteer-landing-contact-section {
    font-size: rem(20px);
  }

  .volunteer-landing-paragraph {
    font-size: rem(20px);
  }
}

@media screen and (max-width: 600px) {
  .volunteer-landing-learn, .volunteer-landing-signup, .volunteer-landing-contact {

    & > div {
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 374px) {
  .volunteer-landing-learn {
    & img {
      height: rem(160px);
      width: rem(280px);
    }
  }

  .volunteer-landing-signup {
    & img {
      height: rem(180px);
      width: rem(280px);
    }
  }

  .volunteer-landing-contact {
    & img {
      height: rem(180px);
      width: rem(280px);
    }
  }
}