<div id="list-table-container" class="md-whiteframe-2dp">
	<table class="md-table">
		<thead class="md-thead">
			<tr>
				<th ng-repeat="field in vm.headerfields" ng-click="vm.sortDataByField(field)">{{ field.displayName }}</th>
				<th>
					<div class="input-expandable">
						<input type="text" id="org-search" filter-input="vm.items" filter-name="filter">
						<label for="org-search"></label>
					</div>
				</th>
			</tr>
		</thead>
	</table>
	<div class="list-table-scrollable">
		<table class="md-table">
			<tbody>
			<tr ng-repeat="item in vm.items" class="md-row">
				<td ng-repeat="field in vm.headerfields">{{ item[field.key] }}</td>
				<td class="icons">
					<md-button class="md-icon-button" ng-click="vm.delete(item)" md-ink-ripple="#D65439">
						<md-icon class="material-icons">&#xE872;</md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-click="vm.edit(item)" md-ink-ripple="#D65439">
						<md-icon class="material-icons">&#xE150;</md-icon>
					</md-button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>