.left_profile_pic{
	margin:0 auto;
	margin-top:28px;
	width:80px;
}

.profile_details{
	margin-top:5px;
	color:#797B7E;
	font-size:12px;
	margin-left: 20px;
}
.profile_name{
	font-size:16px;
	margin-bottom:5px;
}
.profile_border_bottom{
	padding-bottom:17px;
	border-bottom:1px solid #EDF0F5;
}
.margin-top-adjust{
	margin-top:15px;
}
.space_adjust{
	margin-bottom:3px;
}
.glyphicon-globe:before{content:"\e135"}

.sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
  
  
  .main_section
  {
  padding:25px;
  }