                	
                    	<div class="main_section">
                    	<div style="width: 28%;display: inline-block;">
                         	    <img src="~images/user.png" class="left_profile_pic" style=""  alt=""/> 
                       </div>
                   
                       <div style="display:inline-block;vertical-align: top;">
                        
                        <div class="padding0">
                        	<div class="profile_details">
                                <p class="profile_name"><span>{{vm.user.firstName}}</span> <span>{{vm.user.lastName}}</span></p>
                                <p class="space_adjust">{{vm.user.mobilePhone}}</p>
                                <div class="space_adjust">
                                	<span></span>
                                    <span><a href="{{vm.user.website}}">{{vm.user.website}}</a></span>
                                </div>
                                 <div class="space_adjust">
                                	<span></span>
                                    <span>{{vm.user.email}}</span>
                                </div>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                 
                    
                
                