@import '_includes';

.action-cards-section {
  margin-bottom: rem(40px);
}

.org-header {
  margin-bottom: rem(20px);
  padding-bottom: rem(6px);
  color: $color-red-base;
  font-size: rem(20px);
  font-weight: 800;
  border-bottom: 2px solid $color-gray-darker;
}

.org-search {
  position: relative;
}