<md-dialog id="client-view-edit-component" style="opacity: 1;" class="" layout="row" layout-align="space-around">
    <md-dialog-content class="profile-fields" flex="60">
        <div class="client-header" layout="row">
            <img src="" alt="Person Logo">
            <div layout="column">
                <p class="client-word">CLIENT</p>
                <p class="client-name">{{vm.user.firstName}} {{vm.user.lastName}}</p>
            </div>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input type="text" ng-model="vm.editingUser.firstName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input type="text" ng-model="vm.editingUser.lastName">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Phone Number</label>
            <input type="phone" ng-model="vm.editingUser.mobilePhone">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email Address</label>
            <input type="email" ng-model="vm.editingUser.email">
        </md-input-container>   
        <md-dialog-actions>
            <md-button class="md-raised button-primary" ng-click="vm.hide()">Save</md-button>
        </md-dialog-actions>
    </md-dialog-content>

    <md-dialog-content class="ngo-selection" flex="50">
        <div layout="column" layout-wrap>
            <div class="org-search" layout="row">
                <div class="ngo-header">NGO</div>
                <div class="input-expandable">
                    <input type="text" id="org-search" ng-model="search">
                    <label for="org-search"></label>
                </div>
            </div>
            
            <md-checkbox class="orange" ng-checked="vm.isSelected(ngo)" ng-click="vm.toggleSelection(ngo)" ng-repeat="ngo in vm.organizations | filter:search" flex-gt-sm>
                {{ ngo.name }}
            </md-checkbox> 
        </div>
    </md-dialog-content>
    
</md-dialog>