<div class="join_user-background"></div>
<div id="join_user-container">
    <div class="join_user-box" layout="row" layout-wrap>
        <md-content class="md-whiteframe-4dp">
            <div class="join_user-box-internal">
                <div class="join_user-image-container">
                    <img class="join_user-logo" ng-src="~images/not_impossible_logo.png"/>
                </div>
                <div class="join_user-prompt">Please secure your account and continue.</div>
                <md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>Email</label>
                    <input type="email" ng-model="vm.username">
                </md-input-container>
                <md-input-container class="md-block password-container input-primary" flex-gt-sm>
                    <label>Password</label>
                    <input type="{{vm.inputType}}"  ng-model="vm.password"  class="visible" >
                    <i class="material-icons" ng-class="{'active': vm.isActive}" ng-click="vm.togglePassword()">&#xE417;</i>
                </md-input-container>
                <md-button class="md-raised button-primary"  ng-click="vm.signIn()" ng-disabled="vm.isDisabled" ng-model="vm.isDisabled">
                <span ng-show="vm.signInButton == 'Signing In ...'"></span>
           		 {{ vm.signInButton }}
                </md-button>
            </div>
        </md-content>
    </div>
</div>