@import '_includes';

#out-of-orders-container {
  background-color: $color-background;
}

md-card.order-detail-card {
  position: relative;
  overflow: hidden;
  color: $color-text;
  background-color: $color-white;
  margin: 0px;
  height: calc(100vh - 64px);

  @media(max-width: 959px) and (min-width: 0) and (orientation: portrait) {
    height: calc(100vh - 56px);
  }
}

.out-of-orders-container {
  padding: rem(60px) rem(60px) rem(120px) rem(60px);
  text-align: center;

  & i.material-icons {
    margin-bottom: rem(12px);
    font-size: rem(48px);
    color: $color-order-detail-text;
  }

  & .out-of-orders-text {
    font-weight: bold;
  }

  & .out-of-orders-header {
    margin-bottom: rem(12px);
    font-size: rem(24px);
  }

  & .out-of-orders-subheader {
    margin-bottom: rem(60px);
    padding-left: rem(36px);
    padding-right: rem(36px);
    font-size: rem(16px);
  }

  & .out-of-orders-fetching {
    margin-bottom: rem(16px);
  }

  & md-progress-linear {
    & .md-container {
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      max-width: 150px;
      background-color: #EFBFB8;
    }

    & .md-bar {
      background-color: $color-red-base;
    }
  }
}

#out-of-orders-container.ng-enter {
  transition: all 0.3s;
  transform: translate3d(0, 100vw, 0);
  opacity: 0;
}

#out-of-orders-container.ng-enter-active {
  transition: all 0.3s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}