<md-card class="entity-card">
    <div class="entity-card-header" layout="row">
        <div>{{vm.header}}</div>
        <span flex></span>
        <md-menu>
            <md-button class="md-icon-button" md-ink-ripple="#D65439" ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons" style="color:#595959">&#xE5D4;</md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button style="display: flex; color: #4A4A4A" ng-click="vm.edit()"><i class="material-icons" style="margin-right: 6px">&#xE3C9;</i><span>Edit</span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button style="display: flex; color: #4A4A4A" ng-click="vm.delete()"><i class="material-icons" style="margin-right: 6px">&#xE872;</i><span>Remove</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="entity-card-content" layout="row" layout-wrap>
        <div flex="100" ng-repeat="item in vm.content">
            <i class="material-icons">{{item.icon}}</i>
            <div>{{item.text}}</div>
        </div>
    </div>
</md-card>