<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true">
<user-detail></user-detail>
	<div class="hor_line"></div>
	<ul class="padding_301">
			<li class="side_menu_item"><a href="#" class="link_style">My Dashboard</a></li>		
			<li class="side_menu_item"><a href="#" class="link_style">Onboard a Volunteer</a></li>
			<li class="side_menu_item"><a href="#" class="link_style">Onboard an NGO</a></li>
			<li class="side_menu_item"><a href="#" class="link_style">My Profile</a></li>
			<li class="side_menu_item"><a href="#" class="link_style">View / Update Profile</a></li>
			<li class="side_menu_item"><a href="#" class="link_style">Settings</a></li>
			<li class="side_menu_item"><a href="#" class="link_style">Logout</a></li>
		
	</ul>
	
</md-sidenav>