<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true">
<user-detail></user-detail>
	
	<ul class="padding_30">
			<li class="side_menu_item"><a href="#">My Dashboard</a></li>		
			<li class="side_menu_item"><a href="#">Onboard a Volunteer</a></li>
			<li class="side_menu_item"><a href="#">Onboard an NGO</a></li>
			<li class="side_menu_item"><a href="#">My Profile</a></li>
			<li class="side_menu_item"><a href="#">View / Update Profile</a></li>
			<li class="side_menu_item"><a href="#">Settings</a></li>
			<li class="side_menu_item"><a href="#">Logout</a></li>
		
	</ul>
	
</md-sidenav>