<md-dialog class="edit-entity-popup">
    <md-dialog-content layout="row" layout-wrap>
        <i class="popup-close-btn material-icons" ng-click="vm.dismiss()">&#xE5CD;</i>
        <div class="edit-entity-person-info" flex="50" flex-xs="100">
            <div class="edit-entity-header">
                <i class="material-icons">&#xE7FB;</i>
                <div>
                    <div class="edit-entity-header-text">
                        <div>Profile:</div>
                        <div>Volunteer</div>
                    </div>
                    <div>Name Here</div>
                </div>
            </div>
            <div class="entity-input-section" layout="row" layout-wrap>
                <md-input-container class="input-primary" flex="100">
                    <label>First Name</label>
                    <input ng-model="vm.user.firstName">
                </md-input-container>
                <md-input-container class="input-primary" flex="100">
                    <label>Last Name</label>
                    <input ng-model="vm.user.lastName">
                </md-input-container>
                <md-input-container class="input-primary" flex="100">
                    <label>Phone Number</label>
                    <input ng-model="vm.user.phoneNumber">
                </md-input-container>
                <md-input-container class="input-primary" flex="100">
                    <label>Email Address</label>
                    <input ng-model="vm.user.email">
                </md-input-container>
            </div>
        </div>
        <div class="edit-entity-associations" flex="50" flex-xs="100">
            <div layout="column">
                <div class="edit-entity-org-section">
                    <div class="entity-associations-header">
                        <div class="input-expandable">
                            <input type="text" id="org-search" filter-input="vm.organizations" filter-name="orgFilter">
                            <label for="org-search"></label>
                        </div>
                        <i class="material-icons">&#xE0AF;</i>
                        <div>Organization</div>
                    </div>
                    <div class="entity-assocations-checkboxes">
                        <md-checkbox class="checkbox-primary" ng-checked="vm.isSelected(ngo)" ng-click="vm.toggleSelection(ngo)" ng-repeat="ngo in vm.organizations" flex-gt-sm>
                            {{ ngo.name }}
                        </md-checkbox>
                    </div>
                </div>
                <div class="edit-entity-roles">
                    <div class="entity-associations-header">
                        <i class="material-icons">&#xE7FF;</i>
                        <div>User Roles</div>
                    </div>
                    <div class="entity-roles-checkboxes">
                        <div layout="row">
                            <md-checkbox class="checkbox-primary">Super Admin</md-checkbox>
                            <md-checkbox class="checkbox-primary">Volunteer</md-checkbox>
                        </div>
                        <div>
                            <md-checkbox class="checkbox-primary" ng-model="vm.ngoAdminChecked">NGO Admin</md-checkbox>
                            <md-autocomplete ng-style="{visibility: vm.ngoAdminChecked == true ? 'initial':'hidden'}" flex required
                                             md-input-name="autocompleteField"
                                             md-input-minlength="2"
                                             md-input-maxlength="50"
                                             md-no-cache="true"
                                             md-search-text="vm.searchText"
                                             md-items="item in vm.querySearch(vm.searchText)"
                                             md-item-text="item.name"
                                             md-require-match
                                             md-floating-label="Organization"
                                             md-no-asterisk="true">
                                <md-item-template>
                                    <span>{{item.name}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.dismiss()">Exit</md-button>
        <md-button class="md-raised button-primary" ng-click="vm.dismiss()">Save</md-button>
    </md-dialog-actions>
</md-dialog>