@CHARSET "ISO-8859-1";

html
{
padding:0px;
}


.font_for_allpages
{
color:#808080;
}
.left_float
{
float:left;
}
.right_float
{
float:right;
}
.clear_all
{
clear:both;
}

.form_style
{
margin: 60px;

}
.width_for_textbox
{
width:800px;
}
.mission_width4
{
width:50%;
}
.mission_width3
{
width:41%;
}
.mgn_bottom_20
{
margin-bottom:20px;
}
.mgn_top10
{
margin-top:10px;
}

.mgn_top20
{
margin-top:20px;
}
.mgn_left_25
{
margin-left:25px;
}
.mgn_rt
{
margin-right:477px !important;
}
.mgn_left_50
{
margin-left:250px;
}
.save_next_btn
{
background:#449d44;
}
.border{
border:1px solid #c0c0c0;
margin-top:20px;

}

.mgn_left_volunteer
{
margin-left:100px;
}

mission_width2
{
width:100%;
}

.grid_tile_style
{

font-weight:bold;
margin-left:30px;
}
.md_grid_list
{
margin-bottom:23px;
background-color:#EDF0F5;
}
.font-weight_credential
{
font-weight:bold;
}
input
{
font-weight:600;
color:#808080;
}







@media screen and (max-width: 768px) {
	.width_for_textbox
	{
		width:100%;
	}
	.mgn_left_25
	{
		margin-left:0px;
	}
	.mgn_left_50
	{
		margin-left:0px;
	}
}
.leftNavAdj{
	overflow: hidden;
	width: 103%;
	margin-top:-15px;
}
