@CHARSET "ISO-8859-1";

html
{
padding:0px;
font-family: 'Roboto', sans-serif;
}
a
{

font-family: 'Roboto', sans-serif;
}
.action-card.cardStylez{
box-shadow:none;
}

.action-card.cardStylez:hover{
box-shadow:0px 0px 9px -1px #D65439;;
}

.new_1
{
background-color:transparent;
border-radius:0;
color:#D65439;
padding-top:10px;
box-shadow:none;
}






.font_for_allpages1
{
color:#808080;

}


.font_for_allpages
{
color:#808080;
background: #fff;
}
.left_float
{
float:left;
}
.right_float
{
float:right;
}
.clear_all
{
clear:both;
}

.form_style
{
margin: 60px;

}
.width_for_textbox
{
width:800px;
}
.mission_width4
{
width:50%;
}
.mgn_bottom_20
{
margin-bottom:20px;
}
.mgn_top10
{
margin-top:10px;
}

.mgn_top20
{
margin-top:20px;
}
.mgn_left_25
{
margin-left:25px;
}
.mgn_rt
{
margin-right:700px !important;
}
.mgn_left_50
{
margin-left:250px;
}
.save_next_btn
{
background:#449d44;
}
.border{
border:1px solid #c0c0c0;
margin-top:20px;

}

.mgn_left_volunteer
{
margin-left:100px;
}

mission_width2
{
width:100%;
}

.grid_tile_style
{

font-weight:bold;
margin-left:30px;
}
.md_grid_list
{
margin-bottom:18px;
background-color:#EDF0F5;
padding:12px;
}
.font-weight_credential
{
font-weight:bold;
}
input
{
font-weight:600;
color:#808080;
}



md-tabs-canvas{
	height: 110px !important;
	
}
md-pagination-wrapper{
	height: 100px !important;
	margin-top:6px;
}
md-tab-item.md-active{
	background: #BC9070;
	border-radius: 50%;
	
}
md-tab-item{
	width: 100px;
	border-radius: 50%;
	background: #efefef;
	margin: 0px 30px;
	position:relative;
	z-index:9;
	overflow: visible;
} 
md-tabs-canvas{
	height: 110px !important;
	
}
md-pagination-wrapper{
	height: 100px !important;
	margin-top:6px;
}
md-tab-item.md-active{
	background: #BC9070;
	border-radius: 50%;
	
}
md-tab-item{
	width: 100px;
	border-radius: 50%;
	background: #efefef;
	margin: 0px 30px;
	position:relative;
	z-index:9;
	overflow: visible;
} 
md-tab-item.md-tab{
	overflow: visible;
}
md-tab-item:first-child{
	margin-left:0px;
}

md-tab-item.md-active{
	background: #d3fda4;
}
.md-ripple-container{
	border-radius: 50%;
}
md-ink-bar{
	top: 48px;
	right:608px;
}
md-tab-item span{
	position:relative;
	top: 25px;
	font-size: 12px;
}
md-tab-item:nth-child(1) span{
	left: -4px;
}
md-tab-item:nth-child(2) span{
	left: -20px;
}




@media screen and (max-width: 768px) {
	.width_for_textbox
	{
		width:100%;
	}
	.mgn_left_25
	{
		margin-left:0px;
	}
	.mgn_left_50
	{
		margin-left:0px;
	}
}
.leftNavAdj{
	overflow: hidden;
	width: 103%;
	margin-top:-15px;
}

#fdsrv md-input-container.input-primary{
	margin-top:0px;
	margin-bottom: 0px;
}