<top-nav resolve="vm.resolveValues" toggle-collapsed-nav="vm.toggleCollapsedNav()">
    <md-nav-bar md-selected-nav-item="selectedNavItem.item" nav-bar-aria-label="navigation links"
                ng-if="role === rolesConstant.superAdmin || role === rolesConstant.ngoAdmin" hide-xs>
        <md-nav-item md-nav-sref="order-detail" name="orders">Orders</md-nav-item>
        <md-nav-item md-nav-sref="clients" name="clients">Clients</md-nav-item>
        <md-nav-item md-nav-sref="volunteers" name="volunteers" ng-if="role === rolesConstant.superAdmin">Volunteers</md-nav-item>
        <md-nav-item md-nav-sref="organizations" name="organizations" ng-if="role === rolesConstant.superAdmin">Orgs</md-nav-item>
        <!--<md-nav-item md-nav-sref="organizations" name="organizations">Providers</md-nav-item>-->
    </md-nav-bar>
    <div class="collapsed-nav-menu" ng-if="role === rolesConstant.superAdmin || role === rolesConstant.ngoAdmin" hide show-xs>
        <div ui-sref="order-detail" md-ink-ripple="#D65439" ng-click="toggleCollapsedNav()">Orders</div>
        <div ui-sref="clients" md-ink-ripple="#D65439" ng-click="toggleCollapsedNav()">Clients</div>
        <div ui-sref="volunteers" md-ink-ripple="#D65439" ng-click="toggleCollapsedNav()" ng-if="role === rolesConstant.superAdmin">Volunteers</div>
        <div ui-sref="organizations" md-ink-ripple="#D65439" ng-click="toggleCollapsedNav()" ng-if="role === rolesConstant.superAdmin">Orgs</div>
    </div>
</top-nav>

<div ui-view></div>