@import '_includes';

.landing-get-involved-container {
    background: url('~images/landing/get-involved-background.jpg');
    padding: rem(50px) 10%;

    .get-involved-header {
        font-family: 'Roboto Slab', sans-serif;
        font-size: rem(22px);
        color: #FFFFFF;
        letter-spacing: 0.56px;

        @media screen and (max-width: 414px) {
            font-size: rem(16px);
        }
    }

    .get-involved-description {
        text-align: center;
        font-family: OpenSans, sans-serif;
        font-size: rem(15px);
        color: #FFFFFF;
        letter-spacing: 0.37px;
    }

    .button-primary {
        font-size: rem(10px);
        margin: 0px;
        font-weight: $font-weight-semibold;
        color: #FFFFFF;
    }

    // Fancy
    .fancy {
        line-height: 0.2;
        text-align: center;
    }
    .fancy span {
        display: inline-block;
        position: relative;  
    }
    .fancy span:before,
    .fancy span:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 2px solid white;
        top: 0;
        width: 75%;
    }
    .fancy span:before {
        right: 100%;
        margin-right: 15px;
    }
    .fancy span:after {
        left: 100%;
        margin-left: 15px;
    }
}