<div class="landing-hero-container">
        <img class="hero-image" src="/app/assets/images/hero.jpg"/>
    <div class="hero-header">
        <div class="hni-logo">
            <img ng-src="~images/not_impossible_landing_logo.png"/>
        </div>
        <div class="nav-section">
            <ul>
                <li><a href ng-click="vm.scrollTo('About')">About</a></li>
                <li><a href ng-click="vm.scrollTo('How')">How It Works</a></li>
                <li><a href ng-click="vm.scrollTo('Involved')">Get Involved</a></li>
            </ul>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7AA2G2ME5QC62">
                <input type="submit" value="Donate" name="submit" title="PayPal - The safer, easier way to pay online!" class="donate md-button md-raised md-primary">
            </form>
            <form >
               <input type="submit" value="Login" name="submit" class="login md-button md-raised md-primary" ng-click="vm.login()">
               </form>
               <br> 
        </div><br><br><br>
			<div style="color: white; font-size: 120% ;padding: 0px 17px;">	
				Participants with HNI : {{vm.participants}}  <br />Meals served  : 
					<marquee width="10%">
						<span ng-repeat="(key, value) in vm.meals">
						{{key}} - {{value}} &nbsp;&nbsp;
					</marquee>
			</div>
	</div> 
    <div class="hero-text">
        Hunger: Not Impossible will feed millions who needlessly go hungry in America <span class="text-prompt">... with a text.</span>
        <a href ng-click="vm.scrollTo('Stats')" class="down-prompt"><i class="material-icons">keyboard_arrow_down</i></a>
    </div>    
</div>