<fieldset>
	<span> 
		<input type="text" required ng-model="source" placeholder="Source"></input> 
		<input type="number" required ng-model="amount" placeholder="Amount"></input>
		<button  ng-click="addNewChoice()">+</button>
	</span>
		<table>
			<th>Source</th>
			<th>Amount</th>
			<th>Delete</th>
			<tr ng-repeat="element in fundingSourceList track by $index">
				<td>{{element.source}}</td>
				<td>{{element.amount}}</td>
				<td><button class="remove" ng-click="vm.deleteRow($index)">-</button></td> 
            <tr>
		</table>
</fieldset>