<fieldset>
	<span> 
		<input type="text" required ng-model="source" placeholder="Source"></input> 
		<input type="number" required ng-model="amount" placeholder="Amount"></input>
		<button  ng-click="addNewChoice()">+</button>
	</span>
			<br>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px">
	<md-grid-tile>
	<b>Source</b></md-grid-tile> <md-grid-tile>
	<b>Amount</b></md-grid-tile> <md-grid-tile>
	<b>Delete</b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px"
		ng-repeat="element in fundingSourceList track by $index"> <md-grid-tile>
	<div layout="row">{{element.source}}</div>
	</md-grid-tile> <md-grid-tile>
	<div layout="column">{{element.amount}}</div>
	</md-grid-tile> <md-grid-tile>
	<button class="remove" ng-click="vm.deleteRow($index)">-</button>
	</md-grid-tile> </md-grid-list>
</fieldset>