<fieldset  class="border">
	<span layout="row"> 
		<md-input-container class="md-block input-primary" flex-gt-sm>
            <input type="text" required ng-model="source" placeholder="Source"></input> 
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            <input type="number" required ng-model="mealQty" placeholder="Meal Quantity"></input>
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            <input type="text" required ng-model="frequency" placeholder="Frequency"></input>
          </md-input-container>
		<div style="padding-top:10px;">
		 <md-button class="md-fab btn_style"  ng-click="addNewChoice()">
		  <md-icon md-svg-src="app/assets/images/add.svg" ></md-icon>
		 </md-button>
		 </div>
	</span>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px">
	<md-grid-tile>
	<b>Source</b></md-grid-tile> <md-grid-tile>
	<b>Meal Quantity</b></md-grid-tile> <md-grid-tile>
	<b>Frequency</b></md-grid-tile> <md-grid-tile>
	<b></b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px"
		ng-repeat="element in mealDonaltionList track by $index">
		<br><br>
		 <md-grid-tile>
		
	<div layout="row">{{element.source}}</div>
	</md-grid-tile> <md-grid-tile>
	<div layout="row">{{element.mealQty}}</div>
	</md-grid-tile>
	<md-grid-tile>
	<div layout="row">{{element.frequency}}</div>
	</md-grid-tile>
	 <md-grid-tile>
	  <md-button class="md-fab btn_style"   ng-click="deleteMeal($index)"> <div style="position: relative;
    bottom: 8px;">X</div></md-button>
	</md-grid-tile> </md-grid-list>
</fieldset>