<fieldset  class="border">
<span layout="row"> 
		<md-input-container class="md-block input-primary" flex-gt-sm>
            <input type="text" required ng-model="source" placeholder="Source"></input> 
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            <input type="number" required ng-model="amount" placeholder="Amount"></input>
          </md-input-container>
          <div style="padding-top:10px;">
		 <md-button class="md-fab btn_style"  ng-click="addNewChoice()"> 
		 <md-icon md-svg-src="app/assets/images/add.svg" ></md-icon>
		 </md-button>
		 </div>
	</span>
	<div ng-show = "show">
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px">
	<md-grid-tile>
	<b>Source</b></md-grid-tile> <md-grid-tile>
	<b>Amount</b></md-grid-tile> <md-grid-tile>
	<b></b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px"
		ng-repeat="element in fundingSourceList track by $index">
		<br>
		 <md-grid-tile>
		
	<div layout="row">{{element.source}}</div>
	</md-grid-tile> <md-grid-tile>
	<div layout="column">{{element.amount}}</div>
	</md-grid-tile> <md-grid-tile>
	<md-button class="md-fab btn_style" style="background-color:transparent;
border-radius:0;color:#D65439;box-shadow:none;border:none;" 
 ng-click="deleteRow($index)"> <div style="position: relative; bottom: 10px;">X</div></md-button>

	</md-grid-tile> </md-grid-list>
	</div>
</fieldset>