<div class="login-background"></div>
<div id="login-container">
    <div class="login-box" layout="row" layout-wrap>
    <md-content class="md-whiteframe-4dp">
            <div class="login-box-internal">
                <div class="login-image-container">
                    <img class="login-logo" ng-src="~images/not_impossible_logo.png"/>
                </div>
 <div class="login-prompt">NGO LOGIN</div>
				<md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>FirstName</label>
              		<input type="text" id="input-firstName" required ng-model="vm.firstName" >
                </md-input-container>
                <md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>Last Name</label>
					<input type="text" id="input-lastName"  required ng-model="vm.lastName" >
                </md-input-container>
                <md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>User Name  {{vm.userNameMessage}}</label>
              		<input type="email" id="input-userName"  required ng-model="vm.username" ng-change="vm.checkAvailability()">
                </md-input-container>
                <md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>Password</label>
					<input type="password"  id="input-password1" required ng-model="vm.password">
                </md-input-container>
     			<md-input-container class="md-block input-primary" flex-gt-sm>
                    <label>Confirm Password</label>
					<input type="password"  id="input-password2" required ng-model="vm.passwordConfirm">
                </md-input-container>
    			 <md-button class="md-raised button-primary" ng-click="vm.signIn()">Start</md-button>
 		 </div>
	</md-content>
</div>
</div>