<top-nav></top-nav>

<div ng-cloak>
	<md-content>
	 <md-tabs md-dynamic-height md-border-bottom md-selected="vm.tabIndex"> 
		<md-tab label="Overview" > 
		<md-content class="md-padding">
			<overview-tab></overview-tab>
		</md-content>
		</md-tab>

		<md-tab label="Stakeholders">
	 	<md-content class="md-padding">
 	    	<stakeholders-tab> </stakeholders-tab>
	 	</md-content> 
		</md-tab>

		<md-tab label="Services"> 
		<md-content class="md-padding">
			<service-tab></service-tab>
 		</md-content> 
 		</md-tab>

		<md-tab label="Funding"> 
		<md-content class="md-padding">
			<funding-tab></funding-tab>
		</md-content> 
		</md-tab>

		<md-tab label="Clients"> 
		<md-content class="md-padding">
			<clients-tab></clients-tab>
		</md-content> 
		</md-tab>

	</md-tabs>
</md-content>
</div>
<md-button class="md-raised button-primary"  ng-click="" >Save</md-button>
<md-button class="md-raised button-primary"  ng-click="vm.scroll()" >Next</md-button>
