	<div class="main_body">
	<h4>Overview Details</h4>
	
	<div layout-gt-xs="row">
		<md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Name</label>
            <input type="text" ng-model="vm.view.name" required>
          </md-input-container>
          
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Phone</label>
            <input type="number" name="phone" required ng-model="vm.view.phone"></input>
          </md-input-container>
         </div>
         
         <div layout-gt-xs="row">
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Website Link</label>
            <input type="text" name="websiteLink"  required ng-model="vm.view.website"></input>
          </md-input-container>
         
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Contact Person</label>
            <input type="text"   required ng-model="vm.view.contact"></input>
          </md-input-container>
          </div>
          
         <div class="login-prompt"><b>Address</b></div>
			<div layout-gt-xs="row" class="mission_width"> 
			<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Address Type</label>
			 	<md-select name="type" ng-model="vm.view.addressType" required>
            			<md-option value = "home">Home</md-option>
            			<md-option value = "office">Office</md-option>
            		</md-select>
			</md-input-container>
			</div>
			<div layout-gt-xs="row" class="mission_width1">
				<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Address 1</label>
			 	<input type="text" required ng-model="vm.view.address1">
				</md-input-container>
				
				<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Address 2</label>
			 	<input type="text" required ng-model="vm.view.address2">
				</md-input-container>
			</div>
		    
		    <div layout-gt-xs="row" class="mission_width1">
				<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>City</label>
			 	<input type="text" required ng-model="vm.view.city">
				</md-input-container>
		
				<md-input-container class="md-block input-primary" flex-gt-sm>
         			 <label>State</label>
          			 <md-select name="type" ng-model="vm.view.state" required>
            			<md-option ng-repeat="each in vm.states" value = {{each.value}}>{{each.name}}</md-option>
            		</md-select>
        		</md-input-container><md-input-container class="md-block input-primary" flex-gt-sm> 
					<label>Zip</label>
			 		<input type="number" required ng-model="vm.view.zip">
				</md-input-container>
        		
        		
			</div>
			
	 
          
         <div layout-gt-xs="row">
           <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Full time Employees</label>
            <input type="number"   required ng-model="vm.view.employees"></input>
          </md-input-container>
          
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Overview</label>
            <input type="text"   required ng-model="vm.view.overview"></input>
          </md-input-container>
         </div> 
         <div layout-gt-xs="row" class="mission_width"> 
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Mission Statement</label>
            <input type="text"   required ng-model="vm.view.mission"></input>
          </md-input-container>
        </div>
        <div layout-gt-xs="row" class="mission_width"> 
          <md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Celebrity endorsements / notable promoters</label>
            <input type="text"   required ng-model="vm.view.promoters"></input>
          </md-input-container>
		   <div style="padding:10px;">
		  <md-button class="md-fab btn_style"  ng-click="vm.addRow(vm.view.promoters)" >
		    <md-icon md-svg-icon="images/plus.png">+</md-icon>
		  </md-button>
		  </div>
		</div> 
	<br>
	
		<md-grid-list md-cols="1" md-row-height="20:1" md-gutter="6px">
		<md-grid-tile ng-repeat="member in vm.list track by $index">
			<div id="header" layout="row" flex>{{member}}</div>
			<md-button class="md-fab btn_style"  ng-click="vm.delRow($index)" ng-show="vm.flag">-</md-button>
		</md-grid-tile> </md-grid-list>

	
	
	
	<hr class "register-input" layout="row" layout-align="center center">
	<div style="float: right;">
	<br>
	<md-button class="md-raised button-primary " style="background-color:#449d44;" ng-click="vm.save();" >Save & Next</md-button>
	
	</div>
	</div>
