.register-input {
  display: block;
  width: 80%;
  height: 28px;
  margin-top: -19px;
  border: 0;
  border-bottom: 1px solid red;
  background-color: rgba(238, 238, 238, 0);
}

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

#cell{
	width: 15%;
}
.md-button.md-fab.btn_style
{
background-color: #D65439;
    border: 1px solid #D65439;
  
    height: 25px;
    width: 36px;
    border-radius: 25px;
    color: white;
  
}
.md-button.md-fab.btn_style:hover
{
background-color: #D65439;
    border: 1px solid #D65439;
    border-radius: 7;
    height: 25px;
    width: 36px;
    border-radius: 25px;
    color: white;
    margin-bottom: 13px;
}
#button {
    position: relative;
    top: 90%;
     margin-left: 0px !important;
}

.main_body
{
color:#808080;

}
.btn1 {
  color : rgb(49, 46, 46);
  background-color:#D65439 !important ;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  background:none;
}


.mission_width
{
width:56%;
}
.mission_width1
{
width:90%;
}