.register-input {
  display: block;
  width: 80%;
  height: 28px;
  margin-top: -19px;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: rgba(238, 238, 238, 0);
}

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

#cell{
	width: 15%;
}
