<h3>Food Service Offered</h3>
<div id="fdsrv">
		<div flex-gt-sm="50" layout = "row">
          <md-checkbox md-no-ink  ng-model="vm.service.brkfstChk" class="md-primary">
            Breakfast
          </md-checkbox>
          <md-input-container class="md-block input-primary" ng-show ="vm.service.brkfstChk" flex-gt-sm>
            <label>Quantity : </label>
            <input type="number"   required ng-model="vm.service.brkfstQty"></input>
          </md-input-container>
        </div>
		<div flex-gt-sm="50" layout = "row">
          <md-checkbox md-no-ink  ng-model="vm.service.lunchChk" class="md-primary">
            Lunch
          </md-checkbox>
          <md-input-container class="md-block input-primary" ng-show ="vm.service.lunchChk" flex-gt-sm>
            <label>Quantity : </label>
            <input type="number"   required ng-model="vm.service.lunchQty"></input>
          </md-input-container>
        </div>
        <div flex-gt-sm="50" layout = "row">
          <md-checkbox md-no-ink  ng-model="vm.service.dinnerChk" class="md-primary">
            Dinner
          </md-checkbox>
          <md-input-container class="md-block input-primary" ng-show ="vm.service.dinnerChk" flex-gt-sm>
            <label>Quantity : </label>
            <input type="number"   required ng-model="vm.service.dinnerQty"></input>
          </md-input-container>
        </div>
        <div flex-gt-sm="50" layout = "row">
          <md-checkbox md-no-ink  ng-model="vm.service.baggedChk" class="md-primary">
            Bagged
          </md-checkbox>
          <md-input-container class="md-block input-primary" ng-show ="vm.service.baggedChk" flex-gt-sm>
            <label>Quantity : </label>
            <input type="number"   required ng-model="vm.service.baggedQty"></input>
          </md-input-container>
        </div>

	
		<div flex-gt-sm="50" layout = "row">
			<md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Gift Card </label>
            <input type="number"   required ng-model="vm.service.giftCard"></input>
          </md-input-container> 
          
          <md-input-container class="md-block input-primary"  flex-gt-sm>
            <label>Others </label>
            <input type="number"   required ng-model="vm.service.other"></input>
          </md-input-container>
          </div>
          
          
	<hr />

	<label>Calender of Services</label><br>
	
		<md-grid-list md-cols="4" md-row-height="20:1" md-gutter="6px">
			<md-grid-tile></md-grid-tile>
			<md-grid-tile ng-repeat="type in vm.frequency"ng-model="vm.type">
				<div layout="row" flex>{{type}}</div>
			</md-grid-tile> 
		</md-grid-list>
		
		<md-grid-list md-cols="4" md-row-height="6:1" md-gutter="6px" ng-repeat="day in vm.days"ng-model="vm.weekDay">
			<md-grid-tile>
				<div flex>{{day}}</div>
			</md-grid-tile> 
			<md-grid-tile>
			<md-checkbox aria-label="No" ng-click="vm.cal($index,0,$event)" class="md-primary"></md-checkbox>
			</md-grid-tile>
			<md-grid-tile>
			<md-checkbox  aria-label="No" ng-click="vm.cal($index,1,$event)" class="md-primary"></md-checkbox>
			</md-grid-tile>
			<md-grid-tile>
			<md-checkbox aria-label="No" ng-click="vm.cal($index,2,$event)" class="md-primary"></md-checkbox>
			</md-grid-tile>
		</md-grid-list>
		
	<!-- <table class="table2">
		<tr>
			<td></td>
			<td ng-repeat="type in vm.frequency" ng-model="vm.type">{{type}}</td>
		</tr>
		<tr ng-repeat="day in vm.days" ng-model="vm.weekDay">
			<td>{{day}}</td>
			<td><md-checkbox md-no-ink class="md-block input-primary"  ng-click="vm.cal($index,0,$event)"></md-checkbox></td>
			<td><md-checkbox md-no-ink class="md-block input-primary"  ng-click="vm.cal($index,1,$event)"></md-checkbox></td>
			<td><md-checkbox md-no-ink class="md-block input-primary" ng-click="vm.cal($index,2,$event)"></md-checkbox></td>
		</tr>
	</table> -->

	<hr />
	
	<md-input-container class="md-block input-primary" flex-gt-sm>
	      <label>Monthly Budget for food</label>
	      	 <md-select name="type" ng-model="vm.service.monthlyBudget" required>
	            <md-option ng-value="0">0-$500</md-option>
	            <md-option ng-value="1">$500-2500</md-option>
	            <md-option ng-value="2">2500-5k</md-option>
	            <md-option ng-value="3">5k-10k</md-option>
	            <md-option ng-value="4">more than 10k</md-option>
	         </md-select>
     </md-input-container>
	<br>
	
	<md-input-container class="md-block input-primary" flex-gt-sm>
		<label>Operating costs associated with meal services</label>
		 <md-select ng-model="vm.service.operatingCost">
			<md-option ng-value="0">0-$500</md-option>
			<md-option ng-value="1">$500-2500</md-option>
			<md-option ng-value="2">2500-5k</md-option>
			<md-option ng-value="3">5k-10k</md-option>
			<md-option ng-value="4">more than 10k</md-option>
		</md-select>
	</md-input-container>
	<br>
	
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Personnel costs</label> 
	<md-select ng-model="vm.service.personalCost">
		<md-option ng-value="0">0-$500</md-option>
		<md-option ng-value="1">$500-2500</md-option>
		<md-option ng-value="2">2500-5k</md-option>
		<md-option ng-value="3">5k-10k</md-option>
		<md-option ng-value="4">more than 10k</md-option>
		<md-option ng-value="5">personnel are volunteers</md-option>
	</md-select><br>
	</md-input-container>
	
	
		 <md-input-container class="md-block input-primary"  flex-gt-sm>
            <label>volunteers required </label>
            <input type="number"   required ng-model="vm.service.volunteerNbr"></input>
          </md-input-container>
	

	
	<label>Assistance with food stamps?</label><br>
	<md-radio-group   layout="row" ng-model ="vm.service.foodStamp" class="md-primary"> 
            <md-radio-button ng-value="true" >Yes</md-radio-button>
            <md-radio-button ng-value="false">No</md-radio-button> 
	</md-radio-group> 
	
	
	
	<label>Connections to foodbanks</label><br>
	<md-radio-group   layout="row" ng-model ="vm.service.foodBankSelect" class="md-primary"> 
            <md-radio-button ng-value="true" >Yes</md-radio-button>
            <md-radio-button ng-value="false">No</md-radio-button> 
	</md-radio-group> 
	
	<br>
	<div ng-show="vm.service.foodBankSelect">
	<div layout ="row" flex-gt-sm="50">
		<md-input-container class="md-block input-primary" flex-gt-sm>
            <label>Name of food bank </label>
            <input type="text"   ng-model="vm.service.foodBankValue"></input>
          </md-input-container> 
		  <md-button class="md-fab btn_style"  ng-click="vm.foodBbank(vm.service.foodBankValue)" >+</md-button>
	</div>
		
		<div>
			<md-grid-list md-cols="1" md-row-height="20:1" md-gutter="6px">
			<md-grid-tile ng-repeat="fdbnk in vm.list track by $index">
				<div id="header" layout="row" flex>{{fdbnk}}</div>
				<md-button class="md-fab btn_style"  ng-click="vm.delRow($index)" ng-show="vm.flag1">-</md-button>
			</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
	
	
	

	<div ng-click="vm.test()">
	<label>What resources do you offer to your clients</label>
		<div class="multiselect" >
			<div class="selectBox" ng-click="vm.showCheckboxes(); $event.stopPropagation();">
				<select>
					<option>Select an option</option>
				</select>
				<div class="overSelect"></div>
			</div>
			 <div id="checkboxes" ng-show="vm.flag" >
				<label for="one" ng-repeat="p in vm.resources"> 
				
				<!-- <input	type="checkbox" id="one" ng-model="vm.service.resourceChck" ng-click="vm.select($index,$event); $event.stopPropagation();" ng-checked = "vm.check();" />{{p}} -->
				 <input	type="checkbox" id="one" ng-click="vm.select($index,$event); $event.stopPropagation();"/>{{p}}
				</label>
			</div> 
			
				 
			</div>
		</div>
	</div>

	<br>
	<hr class "register-input" style="width: 100%">
	<div style="float: right">
		<br>
		<md-button class="md-raised button-primary" ng-click="vm.save();">Save
		& Next</md-button>
	</div>
</div>
