<h3>Food Service Offered</h3>
 <table>
	<tr><td width="320px">
	<input type="checkbox" ng-model="vm.service.brkfstChk"><label>Breakfast</label></td>
	<td width="320px" ng-show="vm.service.brkfstChk">
	Quantity : <input type="number" ng-model="vm.service.brkfstQty"></td>
	</tr>
	
	<tr><td width="320px">
	<input type="checkbox" ng-model="vm.service.lunchChk"><label>Lunch</label></td>
	<td width="320px" ng-show="vm.service.lunchChk">
	Quantity : <input type="number" ng-model="vm.service.lunchQty"></td>
	</tr>
	
	<tr><td width="320px">
	<input type="checkbox" ng-model="vm.service.dinnerChk"><label>Dinner</label></td>
	<td width="320px" ng-show="vm.service.dinnerChk">
	Quantity : <input type="number"  ng-model="vm.service.dinnerQty"></td>
	</tr>
	
	<tr><td width="320px">
	<input type="checkbox" ng-model="vm.service.baggedChk"><label>Bagged Lunches</label></td>
	<td width="320px" ng-show="vm.service.baggedChk">
	Quantity : <input type="number" ng-model="vm.service.baggedQty"></td>
	</tr>
	
	<tr><td width="320px">
	<label>Gift Card</label></td><td><input type="number" ng-model="vm.service.giftCard"></td>
	</tr>
	
	<tr><td width="320px">
	<label>Others</label></td><td><input type="text" ng-model="vm.service.other"></td>
	</tr>
</table>
<hr />

<label>Calender of Services</label><br>
<table class="table2">
	 <tr>
		<td></td><td ng-repeat = "type in vm.frequency" ng-model="vm.type">{{type}}</td>
	</tr>
	<tr ng-repeat = "day in vm.days" ng-model="vm.weekDay"><td>{{day}}</td>
	<td><input type="checkbox" ng-click="vm.cal($index,0,$event)"></td>
		<td><input type="checkbox" ng-click="vm.cal($index,1,$event)"></td>
		<td><input type="checkbox" ng-click="vm.cal($index,2,$event)"></td>
	</tr>
</table>

<hr />
<label>Monthly Budget for fud</label>
<select ng-model="vm.service.monthlyBudget">
	<option>0-$500</option>
	<option>$500-2500</option>
	<option>2500-5k</option>
	<option>5k-10k</option>
	<option> more than 10k</option>
</select><br>
<hr />
<label>Operating costs associated with meal services</label>
<select ng-model="vm.service.operatingCost">
	<option>0-$500</option>
	<option>$500-2500</option>
	<option>2500-5k</option>
	<option>5k-10k</option>
	<option> more than 10k</option>
</select><br>
<hr />

<label>Personnel costs</label>
<select ng-model="vm.service.personalCost">
	<option>0-$500</option>
	<option>$500-2500</option>
	<option>2500-5k</option>
	<option>5k-10k</option>
	<option> more than 10k</option>
	<option>personnel are volunteers</option>
</select><br>

<hr />
<label>volunteers required</label><br>
	<input type="number" ng-model="vm.service.volunteerNbr">
<hr />
<label>Assistance with food stamps?</label><br>
<input type="radio" name="foodStamp" ng-model="vm.service.foodStamp" ng-value="true"> Yes <input type="radio" name="foodStamp" ng-model="vm.foodStamp" ng-value="false"> No
<hr />
<label>Connections to foodbanks</label><br>
<input type="radio" name="foodBank" ng-model="vm.service.foodBankSelect" ng-value="true"> Yes <input type="radio" name="foodBank" ng-model="vm.service.foodBankSelect" ng-value="false"> No<br>
<div ng-show="vm.service.foodBankSelect">
<input type="text" ng-model="vm.service.foodBankValue">
<input type="button" ng-click="vm.foodBbank(vm.service.foodBankValue)" value="+">
<div>
	<table>
			<tr ng-repeat="fdbnk in vm.list track by $index"">
			 	<td style="width:30%">{{fdbnk}}</td>
			 	<td style="width:30%"><input type="button" id="button" ng-click="vm.delRow($index)" value="-" ng-show="vm.flag"></input></td>	
		</tr>
	</table>
</div>
</div>
<hr />
<label>What resources do you offer to your clients</label>
 <div class="row">
                  
        <div class="col-lg-2">
            <form>
                <div class="form-group">
                    <multiselect class="input-xlarge multiselect" ng-model="vm.option1" options="p.key as p.value for p in vm.options1" select-limit="5"
                                 header="Select Stuff1" selected-header="options selected" multiple="true" required
                                 enable-filter="true" filter-placeholder="Filter stuff..">
                    </multiselect>
                </div>
        
              <div>
                    <div>
                        Option1
                        <pre ng-bind="vm.option1"></pre>
                    </div>
                </div>
            </form>
             </div>
            </div> 
       
 <!-- <div>    
  <div class="multiselect">
    <div class="selectBox" ng-click="vm.showCheckboxes()">
      <select>
        <option>Select an option</option>
      </select>    
	<div class="overSelect"></div>	  
    </div>
	 <div id="checkboxes" ng-show="vm.flag">
	    <label for="one" ng-repeat="p in vm.resources">
        <input type="checkbox" id="one" ng-click="vm.select($index,$event)"/>{{p}}</label>
    </div>
  </div>   	 
</div>  -->

<br>
<hr class "register-input" style="width: 100%">
	<div style="float: right">
	<br>
	<md-button class="md-raised button-primary"  ng-click="vm.save();" >Save & Next</md-button>
	</div>
