<fieldset  class="border">
<span layout="row"> 
		<md-input-container class="md-block input-primary" flex-gt-sm>
           <input type="text" required ng-model="company" placeholder="Name"></input> 
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            <input type="text" required maxlength="12" ng-model ="phoneNumber" placeholder="Phone number" ng-blur = "checkPhoneNbr()">
            
            <div id="errorMsg" ng-show="check" style="color:red;">Phone number (eg:'123-456-7890')</div>
          </md-input-container>
          <div style="padding-top:10px;">
		 <md-button class="md-fab btn_style"  ng-click="addNewRow()">
		  <md-icon md-svg-src="app/assets/images/add.svg" ></md-icon>
		 </md-button>
		 </div>

	</span>
	<div ng-show = "show">
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px">
	<md-grid-tile>
	<b>Company</b></md-grid-tile> <md-grid-tile>
	<b>Phone Number</b></md-grid-tile> <md-grid-tile>
	<b></b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="10" md-row-height="6:1" md-gutter="6px"
		ng-repeat="brand in brandList track by $index"> 
		<br>
		<md-grid-tile>
	<div layout="row">{{brand.company}}</div>
	</md-grid-tile> <md-grid-tile>
	<div layout="column">{{brand.phoneNumber}}</div>
	</md-grid-tile> <md-grid-tile>
	 <md-button class="md-fab btn_style" style="background-color:transparent;
border-radius:0;
color:#D65439;

box-shadow:none;border:none;"  ng-click="deleteBrand($index)"> <div style="position: relative;
    bottom: 10px;">X</div></md-button>
	</md-grid-tile> </md-grid-list>
	</div>
</fieldset>