<fieldset  class="border" style="margin-top: 8px;">
<span layout="row"> 
		<md-input-container class="md-block input-primary" flex-gt-sm>
           <input type="text" ng-model="company" placeholder="Name" autofocus= "on"></input> 
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
                       <!-- <input type="text"  maxlength="12" ng-model ="phoneNumber" placeholder="Phone Number(ex:999-999-9999)" ng-blur = "checkPhoneNbr();validationCheck('number','phone',phoneNumber)"> -->
                 <input type="url" name="websiteLink" placeholder="http://www.example.com" ng-model="website"
					ng-blur="vm.validate('url','website',website,$event)"></input>
            <div id="errorMsg" ng-if="vm.fields['phone']" style="color:red;"ng-bind="vm.msgs['phone']"></div>
          </md-input-container>
          <div style="padding-top:10px;">
		 <md-button class="md-fab btn_style"  ng-click="addNewRow()">
		  <md-icon style="margin-top: 10px;"><i class="material-icons">&#xE03B;</i></md-icon>
		 </md-button>
		 </div>

	</span>
	<div ng-show = "brandList.length != 0">
	<md-grid-list md-cols="2" md-row-height="45:1" md-gutter="6px" style="margin-top: -12px;">
	<md-grid-tile md-rowspan="3" class="grid_list_multi">
	<b>Company</b></md-grid-tile> <md-grid-tile md-rowspan="3" class="grid_list_multi">
	<b>Web site</b></md-grid-tile> <md-grid-tile>
	<b></b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="2" md-row-height="45:1" md-gutter="6px" style="margin-top: -35px;"
		ng-repeat="brand in brandList track by $index"> 
		<br>
		 <md-grid-tile md-rowspan="2" class="grid_list_multi">{{brand.company}}</md-grid-tile>
		 <md-grid-tile md-rowspan="2" class="grid_list_multi" >{{brand.website}}</md-grid-tile>
	 <md-button class="md-fab btn_style" style="background-color:transparent;
border-radius:0;
color:#D65439;

box-shadow:none;border:none;margin-left: 960px;
    margin-top: -6px;"  ng-click="deleteBrand($index)"> <div style="position: relative;
    bottom: 10px;">X</div></md-button>
 </md-grid-list>
	</div>
</fieldset>