<fieldset>
	<span> <input type="text" required ng-model="name"
		placeholder="Name"></input> <input type="text" required
		ng-model="company" placeholder="Company"></input>
		<button ng-click="addNewChoice()">+</button>
	</span>
	<md-grid-list md-cols="12" md-row-height="6:1" md-gutter="6px">
	<md-grid-tile>
	<b>Name</b></md-grid-tile> <md-grid-tile>
	<b>Company</b></md-grid-tile> <md-grid-tile>
	<b>Delete</b></md-grid-tile> </md-grid-list>
	<br>
	<md-grid-list md-cols="12" md-row-height="6:1" md-gutter="6px"
		ng-repeat="member in memberList track by $index"> <md-grid-tile>
	<div layout="row">{{member.name}}</div>
	</md-grid-tile> <md-grid-tile>
	<div layout="column">{{member.company}}</div>
	</md-grid-tile> <md-grid-tile>
	<button class="remove" ng-click="deleteRow($index)">-</button>
	</md-grid-tile> </md-grid-list>
</fieldset>
