<fieldset class="border" style="margin-top: 8px;">
	<span layout="row"> 
		<md-input-container class="md-block input-primary" flex-gt-sm>
            <input type="text" required ng-model="name"	placeholder="Name"></input> 
          </md-input-container>
          <md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            <input type="text" required ng-model="company" placeholder="Company"></input>
          </md-input-container>
          <div style="padding-top:10px;">
		 <md-button class="md-fab btn_style"  ng-click="addNewChoice()">
		  <md-icon style="margin-top: 10px;"><i class="material-icons">&#xE03B;</i></md-icon>
		 </md-button>
		 </div>
	</span>
	<div ng-show = "memberList.length != 0" layout-fill>
	<md-grid-list md-cols="2" md-row-height="45:1" md-gutter="6px" style="margin-top: -12px;">
	<md-grid-tile md-rowspan="3" class="grid_list_multi">
	<b>Name</b></md-grid-tile>
	<md-grid-tile  md-rowspan="3" class="grid_list_multi">
	<b>Company</b></md-grid-tile> <md-grid-tile>
	<b></b></md-grid-tile> </md-grid-list>
	
	<br>
	
	<md-grid-list md-cols="2" md-row-height="45:1" md-gutter="6px" style="margin-top: -35px;"
		ng-repeat="member in memberList track by $index" > 
	<br>
		 <md-grid-tile md-rowspan="2" class="grid_list_multi"><a>{{member.name}}</a></md-grid-tile>
		 <md-grid-tile md-rowspan="2" class="grid_list_multi" ><a>{{member.company}}</a></md-grid-tile>
		
	 <md-button class="md-fab btn_style" style="background-color:transparent;
border-radius:0;
color:#D65439;

box-shadow:none;border:none;margin-left: 960px;
    margin-top: -6px;"  ng-click="deleteRow($index)"> <div style="position: relative;
    bottom: 10px;">X</div> </md-grid-list>
	</div>
</fieldset>
