@import '_includes';

md-card.action-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: rem(280px);
  width: rem(350px);
  color: $color-white;
  background-color: $color-action-card;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.action-card-icon {
  font-size: rem(35px);
  padding: rem(12px);
}