
.header{
	background-color:#DB735F;
	display:flex;
}

.padding0{
	padding:0;
}
.logo_container{
	background-color:#D65439;
	padding:15px;
	text-align:center;
	flex:2;
}

.logo_image{
	width:85%;
}
.space{
	flex:3;
}
.tab_container{
	flex:3;
	align-content:flex-end;
	margin:auto;
	list-style:none;	
}
.tab_container ul {
	padding: 0;
    float: left;
	font-size:14px;
}

.tab_container ul li {
    display: inline;
	margin:2px;
}

.tab_container ul li a {
	text-decoration: none;
    color: white; 
    padding: 10.5px 11px;  
}
 
.tab_container ul li a:visited {
    color: white;
}
 
.tab_container ul li a:hover, .tab_container ul li .current {
    color: yellow;
  
	padding: 10.5px 11px;
}
.donate_btn{
	border:1px solid white;
	border-radius:3px;
	background-color:transparent;
	color:#fff;
	font-size:13px;
	padding:6px 10px;
	margin:7px;
	
}
.donate_btn:hover{
	background-color:#D65439;
	color:yellow;
}

/*-------login body----------------*/

.adjust_float{
	float:right;
}
.login_bg{
	background: url('~images/Login_bg.jpg');
	padding:20px;
	height:518px;
	
	
}

.nopad_16
{padding:0px}

@import '_includes';

#login-container {
	max-width: rem(400px);
	margin-left: auto;
	margin-right: auto;
	padding: 2.5rem 1.5625rem 0 1.5625rem;
	& .login-box {
        & md-content {
            border-radius: 8px;

		    & .login-box-internal {
              padding: 0.5rem 3.5625rem 0 3.5625rem;
            }

			& .login-image-container {
				text-align: center;
				& .login-logo {
					width: 75%;
				}
			}
			& .login-prompt {
				color: $color-gray-darker;
				text-align: center;
				margin-top: 30px;
				margin-bottom: 48px;
			}
			& md-input-container {
				margin:0px;
			}

			& .password-container {
				position: relative;

				& i {
					-webkit-touch-callout: none;
				    user-select: none;
				    outline: none;
					cursor: pointer;
					position: absolute;
					right: 20px;
					color: $color-gray-lighter;
					&.active {
						color: $color-gray-dark;
					}
				}
			}

			& .md-button {
              display: flex;
              justify-content: center;
              margin: rem(16px) auto rem(32px) auto;
			}

            .login-box-external {
              padding: rem(30px);
              text-align: center;
              color: $color-text;
              background-color: $color-gray-lighter;

              & button.md-button {
                margin-bottom: 0;
                color: $color-text;
                text-transform: none;
              }

              & img {
                height: rem(20px);
                width: rem(20px);
                margin-right: rem(6px);
              }
            }
		}
	}
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(300px);
  width: 100%;
 
  background :url("~images/hero.jpg");
}

@media screen and (max-width: 960px) {
  #login-container {
    padding: rem(80px);
  }
}

@media screen and (max-width: 768px) {
  #login-container {
    padding: rem(40px);
    
    max-width: rem(400px);
	margin-left: auto;
	margin-right: auto;
	padding: 2.5rem 1.5625rem 0 1.5625rem;
	& .login-box {
        & md-content {
            border-radius: 8px;

		    & .login-box-internal {
              padding: 0.5rem 3.5625rem 0 3.5625rem;
            }

			& .login-image-container {
				text-align: center;
				& .login-logo {
					width: 75%;
				}
			}
			& .login-prompt {
				color: $color-gray-darker;
				text-align: center;
				margin-top: 30px;
				margin-bottom: 48px;
			}
			& md-input-container {
				margin:0px;
			}
    }
    
    }
  }
}

@media screen and (max-width: 600px) {
  #login-container {
    padding: rem(20px);
  }
}






#login-container.new_style
{
max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem 1.5625rem 2.5rem 1.5625rem;
}
#login-container .login-box md-content .login-image-container .login-logo {
    width: 50%;
    margin-top:25px;
    
}
.background2
{
background:url("~images/hero.jpg");
}

