<div id="login-container">
    <div class="login-box" layout="row" layout-wrap>
        <md-content class="md-whiteframe-4dp">
            <div class="login-image-container">
                <img class="login-logo" ng-src="app/assets/images/not_impossible_logo.png"/>
            </div>            
            <div class="login-prompt">Login to your account by filling the form below.</div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input type="email" ng-model="username">
            </md-input-container>
            <md-input-container class="md-block password-container" flex-gt-sm>
                <label>Password</label>
                <input type="{{vm.inputType}}" ng-model="password" class="visible">
                <i class="material-icons" ng-class="{'active': vm.isActive}" ng-click="vm.togglePassword()">&#xE417;</i>
            </md-input-container>
            <md-button class="md-raised button-primary" ng-click="vm.signIn()">Sign In</md-button>
        </md-content>  
    </div>
</div>