<div class="font_for_allpages">
	<top-nav></top-nav>
	<div>
		<div class="left_float" style="width:19%;margin-right:1%;padding-top:20px;padding-left:5px">
			<left-nav-bar></left-nav-bar>
		</div>
		<div class="left_float" style="width:79.5%;background-color:white;">
			<div style="padding:1px;background-color:rgba(128, 128, 128, 0.43);">
				<h1 style="color:white;text-align:left;padding-left:50px;">Provider Configuration</h1>
			</div>
			<div style = "float : right">
				<md-button class="md-raised button-primary" aria-label="Save users" ng-click="vm.update()">Save Changes</md-button>
			</div>
			<div class="form_style">
				<div layout-gt-xs="row">
					<md-input-container flex-gt-sm>
						<label class="text_style_vol">Name</label> <input type="text" required autofocus="on"
								ng-model="vm.providerName"/>
					</md-input-container>
					<md-input-container class="mgn_left_25" flex-gt-sm>
						<label class="text_style_vol" >Website URL</label> <input type="text" required
								ng-model="vm.providerWebsite"/>
					</md-input-container>
				</div><br>
				<div layout-gt-xs="row">
					<md-input-container flex-gt-sm>
						<label class="text_style_vol">Address Line 1</label> <input type="text" required autofocus="on"
								ng-model="vm.providerAddressLine1" />
					</md-input-container>
					<md-input-container flex-gt-sm>
						<label class="text_style_vol">Address Line 2</label> <input type="text" autofocus="on"
								ng-model="vm.providerAddressLine2" />
					</md-input-container>
					<md-input-container flex-gt-sm>
						<label class="text_style_vol">City</label> <input type="text" autofocus="on"
								ng-model="vm.providerCity" />
					</md-input-container>
					<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
         			 <label>State</label>
          			 <md-select name="type" ng-model="vm.providerState" required>
            		 	<md-option ng-repeat="each in vm.states" value = {{each.value}}>{{each.name}}</md-option>
            		 </md-select>
               	</md-input-container>
				</div><br>
				<h3>Provider Locations</h3>
				<div flex-gt-md="100" flex-md="100" flex-xs="100"  class="md-whiteframe-24dp">
			<div ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-cellnav ui-grid-auto-resize class="grid">
			</div>
		   <!--  <hr> -->
		   <br/>
		    <div>
		    	<fieldset class= "border">
		    		<legend><b>Quick Actions</b></legend>
		    		<center>
					    <md-switch style= "float: left;" ng-if="vm.isParticipant" ng-disabled="vm.disableActivate" ng-model="vm.isActivated" ng-click="vm.activated()">Activate / Deactivate</md-switch>
						<md-button class="md-raised button-primary" ng-disabled="vm.disableDelete" aria-label="Delete user" ng-click="vm.deleteSelected()">Delete</md-button>
						<!-- <md-button class="md-raised button-primary" ng-disabled="vm.disableViewProfile" ng-click="vm.viewProfile()">View Profile</md-button> -->
						<md-switch style= "float: right;" ng-if="vm.isParticipant" ng-disabled="vm.disableSheltered" ng-model="vm.isSheltered" ng-click="vm.sheltered()">Sheltered / Unsheltered</md-switch>
					</center>
				</fieldset>
		</div>
		</div>
	
		</div>

	</div>
	<div class="clear_all">
		<landing-footer></landing-footer>
	</div>
</div>