@import '../../assets/scss/includes';

#top-nav {
  background-color: $color-white;

  & .md-toolbar-tools {
    padding-left: rem(80px);
    padding-right: rem(80px);
  }
}

#not-impossible-logo {
  cursor: pointer;

  & img {
    height: rem(32px);
  }
}

#user-name {
  color: $color-gray-dark;
  font-size: rem(14px);
}

.account-icon {
  display: flex;
  align-items: center;
  margin-left: rem(6px);
  color: $color-gray-dark;
  cursor: pointer;

  & span {
    position: relative;
    border-radius: 50%;
    user-select: none;

    &:last-child {
      font-size: rem(16px);
    }
  }
}