<md-toolbar id="top-nav">
    <div class="md-toolbar-tools">
        <div class="collapse-nav-button" hide show-xs ng-click="vm.toggleCollapsedNav()">
            <md-button class="md-icon-button" md-ink-ripple="#D65439">
                <md-icon class="material-icons" style="color:#595959">&#xE5D2;</md-icon>
            </md-button>
        </div>
        <div id="not-impossible-logo" ui-sref="dashboard"><img ng-src="~images/not_impossible_logo.png"/></div>
        <div id="toolbar-content"></div>
        <span flex></span>
        <div id="user-name" hide show-gt-sm>{{vm.user.email}}</div>
        <div class="account-icon material-icons"><span md-ink-ripple="#D65439">&#xE853;</span><span md-ink-ripple="#D65439">&#xE5CF;</span></div>
    </div>
</md-toolbar>