
<div class="font_for_allpages"></div>
<div align="left">
<!-- 	<div class="action-cards-section " layout="row" layout-wrap>
		<div ng-repeat="x in vm.user" >
		<action-card ui-sref="{{x.servicePath}}" flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="{{x.serviceName}}">aaa</action-card>
		<action-card ui-sref="{{x.servicePath}}" flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="{{x.serviceName}}">aaa</action-card>
		</div>
	</div> -->
		
	<div class="action-cards-section " layout="row" layout-wrap ng-if="vm.userRole === vm.rolesConstantName.superAdmin">
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="NGO" style="outline: none;"report-type="ngo" ng-click="vm.showReportView('ngo')" is-active="vm.isFirstCardActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE925;" icon-text="Volunteers" style="outline: none;" ng-click="vm.showReportView('volunteer')" is-active="vm.isSecondTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Clients" style="outline: none;" ng-click="vm.showReportView('participant')" is-active="vm.isThirdTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Providers" style="outline: none;" ng-click="vm.showReportView('provider')" is-active="vm.isFourthTabActive"></action-card>
	</div>
	
	<div class="action-cards-section " layout="row" layout-wrap ng-if="vm.userRole === vm.rolesConstantName.ngoAdmin" >
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE925;" icon-text="Volunteers" style="outline: none;" ng-click="vm.showReportView('volunteer')" is-active="vm.isSecondTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Clients" style="outline: none;" ng-click="vm.showReportView('participant')" is-active="vm.isThirdTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Providers" style="outline: none;" ng-click="vm.showReportView('provider')" is-active="vm.isFourthTabActive"></action-card>
	</div>
	
	<div class="action-cards-section " layout="row" layout-wrap ng-if="vm.userRole === vm.rolesConstantName.ngo" >
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Volunteers" style="outline: none;"ng-click="vm.showReportView('volunteer')" is-active="vm.isSecondTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Clients" style="outline: none;" ng-click="vm.showReportView('participant')" is-active="vm.isThirdTabActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Providers" style="outline: none;" ng-click="vm.showReportView('provider')" is-active="vm.isFourthTabActive"></action-card>
	</div>
	
	<div class="action-cards-section " layout="row" layout-wrap ng-if="vm.userRole === vm.rolesConstantName.volunteer">
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Orders Completed"  style="outline: none;" ng-click="vm.showReportView('order')" is-active="vm.isOrderActive"></action-card>
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Reports" style="outline: none;" ng-click="vm.showReportView('report')" is-active="vm.isReportActive" ></action-card>
	</div>
	<div class="action-cards-section " layout="row" layout-wrap ng-if="vm.userRole === vm.rolesConstantName.client" >
		<action-card flex-sm="50" flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="Orders" style="outline: none;" ng-click="vm.showReportView('report')" is-active="vm.isReportActive" ></action-card>
	</div>	
	
	
	 <div ng-repeat="report in vm.reportCollection" class="scroll_vertical">
		<report-generation ds="report" index-first="$index" reportType="report.typeKey" serviceds="vm.service" headerds="vm.headers"></report-generation>
	 </div>
	

</div>	