<md-dialog class="delete-entity-popup">
    <md-dialog-content>
        <div class="delete-entity-header">
            <div>Would you like to delete the client {{::vm.client.name}}?</div>
            <div>This action will permanently delete this client from the system.</div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.dismiss()">No</md-button>
        <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.deleteClient()">Yes, Delete</md-button>
    </md-dialog-actions>
</md-dialog>