@import '_includes';

.landing-footer-container {
    background-color: $color-red-base;
    color: white;

    .footer-info {
        text-align: center;
        padding-bottom: rem(20px);

        a {
            padding: 0 rem(10px);
            text-decoration: none;
            color: white;
        }

        img {
            height: rem(55px);
        }

        .footer-title {
            font-family: 'Roboto Slab', sans-serif;
            font-weight: bold;
            font-size: rem(18px);
        }

        .footer-details {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: rem(12px);
            padding: rem(5px) 0;
        }
    }
}
.footer_icon
{
height:40px !important;
width:40px;
}
