@import '_includes';

.landing-donate-container {

    #bbox-root {
        margin-bottom: rem(40px);
    }

    .hero {
        height: rem(320px);
        background: url('~images/landing/donate_hero.jpg');
        background-size: cover;
        background-postion: 50%;
    }

    .donate-header {
        background: $color-red-base;

        h3 {
            margin-left: rem(80px);
            font-family: 'Roboto Slab', sans-serif;
            font-size: rem(22px);
            color: #FFFFFF;

            @media screen and (max-width: 600px) {
                margin-left: rem(30px);
            }
        }
    }

    .donate-information {
        padding: rem(40px) rem(80px);

        @media screen and (max-width: 600px) {
            padding: rem(20px) rem(30px);
        }
        

        .donate-text {
            padding: rem(0px) rem(10px);
            p {
                font-family: 'Roboto', sans-serif;
                font-size: rem(20px);
                color: #4D4D4D;
                line-height: rem(25px);
            }

            .paypal {
                background: $color-red-base;
                font-size: rem(16px);
                margin: 0px;
                min-height: 30px;
                min-width: 114px;
                font-weight: $font-weight-semibold;
                &:hover {
                    background: $color-red-base;
                }
            }

            .callout {
                padding: rem(40px) rem(0px);

                p {
                    font-family: 'Roboto Slab', sans-serif;
                    font-size: rem(22px);
                    color: #D65439;
                    letter-spacing: 1.08px;
                    line-height: rem(33px);
                }

                img {
                    max-height: 100px;
                    padding-right: rem(20px);
                }
            }
        }

        .donate-form {
            text-align: right;

            md-card {
                position: relative;
                top: rem(-70px);
                border-radius: 10px;
                text-align: left;

                @media screen and (max-width: 600px) {
                    top: 0;
                }

                .form-centered {
                    margin-bottom: rem(5px);

                    .md-errors-spacer {
                        display: none;
                    }

                    input {
                        text-align: center;
                    }
                }

                .cards {
                    img {
                        padding: 0 rem(3px);
                    }
                }

                .form-small {
                    width: 100px;
                }

                .md-block {
                    img {
                        position: absolute;
                        right: 10px;
                        top: -10px;
                    }
                }

                md-card-content {
                    padding: rem(25px);

                    @media screen and (max-width: 600px) {
                        padding: rem(10px);
                    }
                }

                md-card-actions {
                    padding-bottom: rem(15px);
                    padding-right: rem(15px);
                }
            }
        }
    }

}