<div id="order-detail-container">
    <md-card class="order-detail-card" ng-if="true">
        <div class="order-time">
            <i class="material-icons">&#xE192;</i>
            <div>{{vm.orderInfo.time}}</div>
        </div>
        <div ng-if="vm.currentStep == 1">
            <div class="order-detail-header" layout="row" layout-wrap>
                <i class="material-icons" flex="100">&#xE56C;</i>
                <div flex="100">Order For</div>
            </div>
            <div class="order-detail-header-triangle"></div>
            <div class="order-detail-for-container" layout="row" layout-wrap>
                <div class="order-detail-name" flex="100">{{::vm.user.name}}</div>
                <i class="material-icons" flex="100">&#xE0C8;</i>
                <div class="restaurant-name" flex="100">{{::vm.orderInfo.name}}</div>
                <div flex="100">{{::vm.orderInfo.address}}</div>
                <div flex="100">{{::vm.orderInfo.city + ', ' + vm.orderInfo.state}}</div>
                <div class="order-detail-location-border"></div>
                <div class="order-detail-food-name" flex="100">{{::vm.orderInfo.foodItem}}</div>
            </div>
        </div>
        <div ng-if="vm.currentStep != 1">
            <div class="order-detail-header" layout="row" layout-wrap>
                <i class="material-icons" flex="100">&#xE870;</i>
                <div flex="100">Order Payment</div>
            </div>
            <div class="order-detail-header-triangle"></div>
            <div class="order-detail-amount-container" layout="row" layout-wrap>
                <md-input-container class="input-primary" flex="100">
                    <label>Total Amount of Meal</label>
                    <input ng-disabled="vm.currentStep != 2" ng-model="vm.mealAmount" currency-input="currency">
                </md-input-container>
                <div class="order-payment-info-container" flex="100">
                    <div class="order-detail-payment-info payment-info-animation" flex layout="row" layout-wrap ng-repeat="item in vm.paymentInfo" ng-if="vm.currentStep == 3">
                        <div flex="50" flex-xs="100">
                            {{item.code}}
                        </div>
                        <div flex="25" flex-xs="40">
                            ${{item.amount}}
                        </div>
                        <div flex="25" flex-xs="60">
                            <form name="amountForm">
                                <md-input-container class="input-primary">
                                    <label>Amount Used</label>
                                    <input name="amountUsed" ng-model="item.amountUsed" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.amountUsedChanged(item)" currency-input="currency">
                                    <i class="material-icons payment-amount-error-icon" ng-show="item.amount !== item.amountUsed.replace('$', '') && !amountForm.amountUsed.$pristine">&#xE002;</i>
                                </md-input-container>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order-detail-more-funds" ng-show="vm.needMoreFunds">
                    <md-button class="button-primary" ng-click="vm.getMoreFunds()">I Need More Funds</md-button>
                </div>
            </div>
        </div>
        <div class="order-detail-footer">
            <div ng-if="vm.currentStep == 1">
                <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.leaveOrders()">Exit</md-button>
                <md-button class="md-raised button-primary" ng-click="vm.placeOrder()">Place Order</md-button>
            </div>
            <div ng-if="vm.currentStep == 2">
                <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.leaveOrders()">Exit</md-button>
                <md-button class="md-raised button-primary" ng-click="vm.continueOrder()">Continue</md-button>
            </div>
            <div ng-if="vm.currentStep == 3">
                <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.leaveOrders()">Exit</md-button>
                <md-button class="md-raised button-primary" ng-disabled="vm.canCompleteDisabled" ng-click="vm.completeOrder()">Complete Order</md-button>
            </div>
        </div>
    </md-card>

    <md-card class="order-detail-card" ng-if="false">
        <div class="out-of-orders-container" layout="row" layout-wrap>
            <i class="material-icons" flex="100">&#xE815;</i>
            <div class="out-of-orders-text" flex="100">Way to go!</div>
            <div class="out-of-orders-header" flex="100">All orders have been placed.</div>
            <div class="out-of-orders-subheader" flex="100">Stick around and we will send some new orders your way!</div>
            <div class="out-of-orders-fetching" flex="100">Fetching new orders</div>
            <md-progress-linear md-mode="indeterminate" flex="100"></md-progress-linear>
        </div>
    </md-card>
</div>