@import '_includes';

$color-order-detail-border: $color-gray-lighter;

#order-detail-container {
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  background-color: $color-white;
  transition: all 0.3s;
}

.order-header-bar {
  display: flex;
  align-items: center;
  height: rem(100px);
  padding-left: rem(80px);
  padding-right: rem(80px);
  background-color: $color-red-base;
  color: $color-white;

  & .order-detail-person {
    & div {
      &:first-child {
        font-size: rem(12px);
        text-transform: uppercase;
      }

      &:last-child {
        font-size: rem(24px);
        font-weight: 800;
      }
    }
  }

  & .order-detail-time {
    margin-left: auto;

    & div:first-child {
      font-size: rem(12px);
    }

    & .order-time {
      display: flex;
      align-items: center;
      font-size: rem(20px);
      font-weight: bold;
      letter-spacing: rem(0.5px);

      & i.material-icons {
        margin-right: rem(2px);
        font-size: rem(24px);
      }
    }
  }
}

.order-detail-triangle {
  display: flex;
  position: absolute;
  left: rem(70px);
  width: 0;
  height: 0;
  border-left: rem(36px) solid transparent;
  border-right: rem(36px) solid transparent;
  border-top: rem(36px) solid $color-red-base;
}

.order-detail-info-container {
  padding: rem(100px) rem(80px) rem(0px) rem(80px);
  box-sizing: border-box;
  background-color: $color-white;

  & > div {
    overflow: hidden;
  }
}

.order-detail-location-section {
  border-left: 1px solid $color-order-detail-border;
  border-right: 1px solid $color-order-detail-border;
}

.order-section-container, .order-detail-location-section {
  padding-top: rem(30px);
  padding-bottom: rem(30px);
}

.order-detail-for-container {
  display: flex;
  justify-content: center;

  & > div {
    text-align: center;
  }

  & .order-restaurant-name {
    margin-bottom: rem(6px);
    font-size: rem(16px);
    font-weight: 800;
  }

  & button.button-primary-outline {
    margin-top: rem(30px);
    padding-left: rem(16px);
    padding-right: rem(16px);
  }
}

.order-detail-payment-section {
  & > div {
    text-align: center;
  }

  & .order-gift-card-label {
    margin-bottom: rem(12px);
    font-size: rem(16px);
    font-weight: 800;
  }

  & .order-gift-card-number {
    overflow: hidden;
    height: calc(#{rem(14px) * 1.5});
    line-height: calc(#{rem(14px) * 1.5});
  }

  & button.button-primary {
    margin-top: rem(30px);
  }
}

.order-detail-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: rem(24px);
  box-sizing: border-box;
  border-top: 2px solid $color-order-detail-border;
}

.payment-info-animation.ng-enter {
   transition: all 0.6s;
 }

.payment-info-animation.ng-leave {
  transition: all 0.3s;
}

.payment-info-animation.ng-enter {
  transform: translate3d(55vw, 0, 0);
  opacity: 0;
}
.payment-info-animation.ng-enter.payment-info-animation.ng-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.payment-info-animation.ng-leave {
  transform: translate3d(0, 0, 0);
  opacity: 0;
}
.payment-info-animation.ng-leave.payment-info-animation.ng-leave-active {
  transform: translate3d(-55vw, 0, 0);
  opacity: 1;
}

#order-detail-container.ng-hide-add {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#order-detail-container.ng-hide-remove {
  transform: translate3d(0, 100vh, 0);
  opacity: 0;
}

#order-detail-container.ng-hide-add-active {
  transform: translate3d(0, -100vh, 0);
  opacity: 0;
}

#order-detail-container.ng-hide-remove-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media screen and (max-width: 959px) {
  & .order-header-bar {
    padding-left: rem(60px);
    padding-right: rem(60px);
  }

  & .order-detail-triangle {
    left: rem(50px);
  }

  & .order-detail-location-section {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    border-left: none;
    border-right: none;
    border-top: 1px solid $color-order-detail-border;
    border-bottom: 1px solid $color-order-detail-border;
  }

  & .order-detail-info-container {
    padding: rem(60px);
  }

  .payment-info-animation.ng-enter {
    transform: translate3d(100vw, 0, 0);
    opacity: 0;
  }
  .payment-info-animation.ng-enter.payment-info-animation.ng-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  .payment-info-animation.ng-leave {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  .payment-info-animation.ng-leave.payment-info-animation.ng-leave-active {
    transform: translate3d(-100vw, 0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  & .order-header-bar {
    height: rem(60px);
    padding-left: rem(40px);
    padding-right: rem(40px);

    & .order-detail-person {
      & div {
        &:first-child {
          font-size: rem(10px);
        }

        &:last-child {
          font-size: rem(18px);
        }
      }
    }

    & .order-detail-time .order-time {
      font-size: rem(18px);

      & i.material-icons {
        font-size: rem(18px);
      }
    }
  }

  & .order-detail-info-container {
    padding: rem(20px) rem(40px) rem(20px) rem(40px);
  }

  & .order-detail-triangle {
    left: rem(30px);
    border-width: 24px;
  }

  & .order-detail-footer {
    padding: rem(6px);
    background-color: $color-background;
  }
}