@import '_includes';

#order-detail-container {
  max-width: rem(450px);
  margin-left: auto;
  margin-right: auto;
  padding: rem(60px) rem(160px) rem(60px) rem(160px);
  background-color: $color-background;
}

md-card.order-detail-card {
  position: relative;
  color: $color-text;
  background-color: $color-white;

  & .order-time {
    display: flex;
    align-items: center;
    padding: rem(20px) rem(40px) rem(20px) rem(40px);
    width: 100%;
    font-size: rem(20px);
    font-weight: bold;
    letter-spacing: rem(0.5px);
    color: $color-order-detail-header;

    & i.material-icons {
      color: $color-order-detail-text;
      margin-right: rem(2px);
      font-size: rem(24px);
    }
  }

  & .order-detail-header {
    display: flex;
    text-align: center;
    height: rem(100px);
    width: 100%;
    background-color: $color-red-base;
    color: $color-white;

    & > div {
      letter-spacing: rem(0.5px);
      font-size: rem(16px);
      text-transform: uppercase;
    }

    & i.material-icons {
      align-self: flex-end;
      margin-bottom: rem(12px);
      font-size: rem(30px);
    }
  }

  & .order-detail-header-triangle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: rem(20px) solid transparent;
    border-right: rem(20px) solid transparent;

    border-top: rem(20px) solid $color-red-base;
  }

  & .order-detail-for-container {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40px);

    & > div, & > i.material-icons {
      text-align: center;
    }

    & .order-detail-location-border {
      margin-top: rem(12px);
      margin-bottom: rem(20px);
      width: rem(120px);
      border-bottom: 2px solid $color-order-detail-border;
    }

    & > i.material-icons {
      color: $color-order-detail-text;
    }
  }

  & .order-detail-name {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    font-size: rem(24px);
    font-weight: 800;
    color: $color-order-detail-text;
  }

  & .restaurant-name {
    font-weight: 500;
  }

  & .order-detail-food-name {
    font-size: rem(16px);
    font-weight: 800;
  }

  & .order-detail-amount-container {
    padding: rem(60px);
  }

  & .order-detail-payment-info {
    & > div:first-child {
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-bottom: rem(12px);
    }
  }

  & .order-detail-footer {
    display: flex;
    justify-content: flex-end;
    padding: rem(12px);
    border-top: 2px solid $color-order-detail-border;

    & button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  #order-detail-container {
    padding: rem(80px);
  }
}

@media screen and (max-width: 768px) {
  #order-detail-container {
    padding: rem(40px);
  }
}

@media screen and (max-width: 600px) {
  #order-detail-container {
    padding: rem(20px);
  }
}

.payment-info-animation {
  transition: all 0.6s;
  overflow: hidden;
}

.payment-info-animation.ng-enter {
  transform: translate3d(rem(200px), 0, 0);
  opacity: 0;
}
.payment-info-animation.ng-enter.payment-info-animation.ng-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}