@import '_includes';

#order-detail-container {
  max-width: rem(500px);
  margin-left: auto;
  margin-right: auto;
  padding: rem(60px) rem(160px) rem(60px) rem(160px);
  background-color: $color-background;
}

md-card.order-detail-card {
  position: relative;
  border-radius: 8px;
  color: $color-text;
  background-color: $color-white;

  & .order-time {
    display: flex;
    align-items: center;
    padding: rem(20px) rem(40px) rem(20px) rem(40px);
    font-size: rem(20px);
    font-weight: bold;
    letter-spacing: rem(0.5px);
    color: $color-order-detail-header;

    & i.material-icons {
      color: $color-order-detail-text;
      margin-right: rem(2px);
      font-size: rem(24px);
    }
  }

  & .order-detail-header {
    display: flex;
    text-align: center;
    height: rem(100px);
    width: 100%;
    background-color: $color-red-base;
    color: $color-white;

    & > div {
      letter-spacing: rem(0.5px);
      font-size: rem(16px);
      text-transform: uppercase;
    }

    & i.material-icons {
      align-self: flex-end;
      margin-bottom: rem(12px);
      font-size: rem(30px);
    }
  }

  & .order-detail-header-triangle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: rem(20px) solid transparent;
    border-right: rem(20px) solid transparent;

    border-top: rem(20px) solid $color-red-base;
  }

  & .order-detail-for-container {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40px);

    & > div, & > i.material-icons {
      text-align: center;
    }

    & .order-detail-location-border {
      margin-top: rem(12px);
      margin-bottom: rem(20px);
      width: rem(120px);
      border-bottom: 2px solid $color-order-detail-border;
    }

    & > i.material-icons {
      color: $color-order-detail-text;
    }
  }

  & .order-detail-name {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    font-size: rem(24px);
    font-weight: 800;
    color: $color-order-detail-text;
  }

  & .restaurant-name {
    font-weight: 500;
  }

  & .order-detail-food-name {
    font-size: rem(16px);
    font-weight: 800;
  }

  & .order-detail-amount-container {
    overflow-x: hidden;
    padding: rem(30px) rem(60px) rem(30px) rem(60px);

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    .input-symbol-meal-amount {
      position: absolute;
      bottom: 33px;
      left: -8px;
      color: rgba(0,0,0,0.38);
    }

    label {
      padding-bottom: 3px;
    }

    .input-primary {
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }

      .input-symbol-used {
        position: absolute;
        bottom: 9px;
        left: -8px;
        color: rgba(0,0,0,0.38);
      }

      label {
        padding-bottom: 3px;
      }
    }
  }

  & .order-detail-payment-info {
    position: relative;

    & md-input-container {
      top: rem(-28px);
      margin-bottom: 0;

      & .md-errors-spacer {
        height: 0;
        min-height: 0;
      }
    }

    & > div:first-child {
      font-weight: bold;
    }

    & > div:not(:last-child) {
      padding-right: rem(6px);
    }

    & i.material-icons {
      position: absolute;
      top: 10px;
      right: rem(-36px);
      color: $color-red-dark;
    }
  }

  & .order-detail-more-funds {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & .order-detail-footer {
    display: flex;
    justify-content: flex-end;
    padding: rem(12px);
    border-top: 2px solid $color-order-detail-border;

    & button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.out-of-orders-container {
  padding: rem(60px) rem(60px) rem(120px) rem(60px);
  text-align: center;

  & i.material-icons {
    margin-bottom: rem(12px);
    font-size: rem(48px);
    color: $color-order-detail-text;
  }

  & .out-of-orders-text {
    font-weight: bold;
  }

  & .out-of-orders-header {
    margin-bottom: rem(12px);
    font-size: rem(24px);
  }

  & .out-of-orders-subheader {
    margin-bottom: rem(60px);
    padding-left: rem(36px);
    padding-right: rem(36px);
    font-size: rem(16px);
  }

  & .out-of-orders-fetching {
    margin-bottom: rem(16px);
  }

  & md-progress-linear {
    & .md-container {
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      max-width: 150px;
      background-color: #EFBFB8;
    }

    & .md-bar {
      background-color: $color-red-base;
    }
  }
}

@media screen and (max-width: 960px) {
  #order-detail-container {
    padding: rem(80px);
  }
}

@media screen and (max-width: 768px) {
  #order-detail-container {
    padding: rem(40px);
  }
}

@media screen and (max-width: 600px) {
  #order-detail-container {
    padding: rem(20px);

    & .order-detail-amount-container {
      padding-left: rem(36px);
      padding-right: rem(36px);
    }

    & .order-detail-payment-info {
      & > div:not(:first-child):not(:nth-child(2)) {
        margin-top: rem(24px);
      }

      & i.material-icons {
        right: rem(-30px);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #order-detail-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.payment-info-animation {
  transition: all 0.6s;
}

.payment-info-animation.ng-enter {
  transform: translate3d(rem(200px), 0, 0);
  opacity: 0;
}
.payment-info-animation.ng-enter.payment-info-animation.ng-enter-active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.payment-amount-error-icon {
  transition: all 0.6s;
}

.payment-amount-error-icon.ng-hide-add {
  opacity: 1;
}

.payment-amount-error-icon.ng-hide-remove {
  opacity: 0;
}

.payment-amount-error-icon.ng-hide-add-active {
  opacity: 0;
}

.payment-amount-error-icon.ng-hide-remove-active {
  opacity: 1;
}

.order-detail-more-funds {
  transition: all 0.6s;
}

.order-detail-more-funds.ng-hide-add {
  height: rem(48px);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.order-detail-more-funds.ng-hide-remove {
  height: 0;
  transform: translate3d(0, rem(200px), 0);
  opacity: 0;
}

.order-detail-more-funds.ng-hide-add-active {
  height: 0;
  transform: translate3d(rem(200px), 0, 0);
  opacity: 0;
}

.order-detail-more-funds.ng-hide-remove-active {
  height: rem(48px);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.order-detail-card.ng-enter {
  transition: all 0.6s;
  transform: translate3d(0, 50vw, 0);
  opacity: 0;
}

.order-detail-card.ng-enter-active {
  transition: all 0.6s;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}