<div class="font_for_allpages">
<top-nav></top-nav>
<div>
<div class="left_float" style="width:19%;margin-right:1%;padding-top:20px;padding-left:5px"><left-nav-bar></left-nav-bar>
</div>
<div class="left_float" style="width:79.5%;background-color:white;">
<div style="padding:1px;background-color:rgba(128, 128, 128, 0.43);">
<h1 style="color:white;text-align:left;padding-left:50px;">Volunteer Profile</h1>
</div>

<div class="form_style">

<div layout-gt-xs="row">
	<md-input-container class="" flex-gt-sm>
	<label class="text_style_vol">First name</label> <input type="text" required
		ng-model="vm.vol.user.firstName" /></md-input-container>
	<md-input-container class="mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" >Last name</label> <input type="text" required
		ng-model="vm.vol.user.lastName" /> </md-input-container>
	</md-input-container>
</div><br><br>
	<h4 >Contact Details</h4>
<div layout-gt-xs="row">
<md-input-container class="md-block input-primary" flex-gt-sm>
	<label class="text_style_vol" >Address line 1</label> <input type="text" required
		ng-model="vm.vol.address.address1" /> </md-input-container>
		
		<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" >Address line 2</label> <input type="text" 
		ng-model="vm.vol.address.address2" /> </md-input-container>
</div>		
<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
	<label class="text_style_vol">City</label> <input type="text" required ng-model="vm.vol.address.city" />
	</md-input-container>
	
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
         	 <label>State</label>
          <md-select name="type" ng-model="vm.vol.address.state" required>
           		<md-option ng-repeat="each in vm.state" value = {{each.value}}>{{each.name}}</md-option>
           </md-select>
     </md-input-container>
	
	<md-input-container class="md-block mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" >Zip</label> <input type="text" required maxlength="6" ng-model="vm.vol.address.zip" />
	</md-input-container>
</div>
<div layout-gt-xs="row">
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label class="text_style_vol" >Phone number</label> <input type="text" required maxlength="12" ng-model="vm.vol.user.mobilePhone" ng-blur = "vm.checkPhoneNbr()" placeholder="999-999-9999"> 
		 <div id="errorMsg" ng-show="vm.check" style="color:red;">Phone number (eg:'123-456-7890')</div>
		</md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" class="text_style_vol">Email</label> <input type="text" required
		ng-model="vm.vol.user.email" /> </md-input-container>
</div>
<br><br>
<div layout-gt-xs="row">
	<md-input-container class="md-block" flex-gt-sm>
	<label class="text_style_vol" >Birthdate</label> <input type="date" ng-model="vm.vol.birthDate">
	<!-- <md-datepicker ng-model="vm.vol.birthDate" md-placeholder="Enter date" md-is-open="true"></md-datepicker> -->
	</md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol">Sex</label> <md-select  ng-model="vm.vol.sex">
	<md-option value="M">Male</md-option> <md-option value="F">Female</md-option></md-select> </md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" >Race</label> <md-select ng-model="vm.vol.race"> <md-option
		value=1>Asian</md-option> <md-option value=2>American</md-option></md-select> </md-input-container>
</div>
<div layout-gt-xs="row">
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label class="text_style_vol" >Highest Level of Education Completed</label> 
	<md-select ng-model="vm.vol.education">
	  <md-option value=1>Gratuate</md-option>
	  <md-option value=2>HS</md-option>
	  <md-option value=3>Elementary</md-option>
	 </md-select> 
	</md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" class="text_style_vol">Income</label> <md-select ng-model="vm.vol.income">
	<md-option value=1>1k-5k</md-option> <md-option value=2>5k-10k</md-option>
	<md-option value=3>10k-15k</md-option></md-select> </md-input-container>
</div>
<div layout-gt-xs="row">
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label class="text_style_vol" >Marital status</label> <md-select
		ng-model="vm.vol.maritalStatus" ng-change="vm.onChange()"> <md-option value=1>Single</md-option>
	<md-option value=2>Married</md-option> <md-option value=3>Divorce</md-option></md-select>
	</md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" ># Kids</label> <input type="number" ng-model="vm.vol.kids" min="0">
	</md-input-container>
</div>
<div layout-gt-xs="row">
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label class="text_style_vol">Employer name</label> <input type="text" ng-model="vm.vol.employer">
	</md-input-container>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label class="text_style_vol" >Non-Profit</label> 
	<md-select ng-model="vm.vol.nonProfit">
		<md-option value ="Y">Yes</md-option> 
		<md-option value ="N">No</md-option>
	</md-select> </md-input-container>
</div>
<br>
	<md-button class="md-raised button-primary " style="left:0px;float:right;" id="button"
		ng-click=" vm.submit()">SAVE PROFILE</md-button>
		
	<!-- <button class="button" ng-click="vm.submit();">Submit Details</button>	 -->
</div>

</div>

</div>
<div class="clear_all">
<landing-footer></landing-footer>
</div>
</div>