h1 {
   text-align: center;
   color: #a8a8a8;
   
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

#volId {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    text-align: center;
}

#button {
    position: relative;
    top: 90%;
    left: 50%;
}
