<div class="font_for_allpages">
<top-nav></top-nav>

<div>
	<div class="left_float" style="width:19%;padding-top:15px;"><left-nav-bar></left-nav-bar>
</div>
<div class="left_float" style="width:80.2%;background-color:white;margin-left:9px;">
<div style="padding:1px;background-color:rgba(128, 128, 128, 0.43);">
<h1 style="color:white;text-align:left;padding-left:50px;">Volunteer Time Availability</h1></div>
<div  layout="row">

<div style="margin-left:840px; margin-top:13px">Notify me by text :  &nbsp;</div> 

<div class="switchStyle">
 <md-switch class="md-primary" ng-model="vm.available" aria-label="Switch 1" >
 
  </md-switch></div></div>
<div class="form_style">
<div class="main_grid" ng-init="vm.loadData()">
<md-grid-list md-cols="8" md-row-height="6:1" md-gutter="6px" class="md_grid_list">
			<md-grid-tile class="grid_tile"></md-grid-tile>
			<md-grid-tile ng-repeat="day in vm.days" ng-model="vm.weekDay" class="grid_tile_style" >
				<div id="dayId" layout="row" flex>{{day}}</div>
			</md-grid-tile> 
		</md-grid-list>
		<br>
	<md-grid-list md-cols="8" md-row-height="6:1" md-gutter="6px" ng-repeat="dayAvail in vm.dayAvailableArray" ng-model="vm.time" class="md_grid_list" > 
		<md-grid-tile>
			<div flex>{{dayAvail.timeline}}</div>
		</md-grid-tile> 
		<md-grid-tile ng-repeat="day in dayAvail.weekday"> 
			<md-checkbox aria-label="No" style="margin-top:5px;" ng-model="day.checked" ng-disabled = "!vm.available" class="md-primary"/>
		</md-grid-tile>
	</md-grid-list>

		<br>
		<hr class="register-input" style="width: 100%">
	
		
	
	
</div>
<br>
		<md-button class="md-raised button-primary" style="float:right;" ng-click="vm.submit()" >Submit</md-button>
</div>
</div>
</div>
<div class="clear_all">
<landing-footer></landing-footer>
</div>
</div>	