<md-dialog class="small-prompt">
    <md-dialog-content>
        <div layout="row" layout-wrap>
            <i class="material-icons" flex="100">&#xE872;</i>
            <div class="small-prompt-text" flex="100">Would you like to delete the organization {{::vm.item.org}}?</div>
            <div class="small-prompt-subtext" flex="100">This action will permanently delete this organization.</div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="button-primary" md-ink-ripple="#D65439" ng-click="vm.dismiss()">No</md-button>
        <md-button class="md-raised button-primary" ng-click="vm.deleteOrg()">Yes, Delete</md-button>
    </md-dialog-actions>
</md-dialog>