
<div class="font_for_allpages">
<top-nav></top-nav>
<div class="left_float">
<left-nav-bar></left-nav-bar>
</div>
<div class="left_float">

<h1>NGO INVITATION</h1>
<div class="form_style">

	
		<div class ="md-title mgn_bottom_20">Primary details</div>
		<div layout-gt-xs="row" class="width_for_textbox">
			<md-input-container class="md-block input-primary " flex-gt-sm> 
				<label>Organization Name</label>
				<input	type="text" required ng-model="vm.name" class="input_box_md"> 
			 </md-input-container>
			 
			 
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Phone number</label>
			 	<input type="number" id="input-phone" required ng-model="vm.phoneNumber" class="input_box_md">
			</md-input-container>
		</div>
		<div layout-gt-xs="row" class="width_for_textbox">
		
			<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Email address</label>
			 	<input type="email" id="" required ng-model="vm.email" class="input_box_md">
			</md-input-container>
			
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Web site url</label>
			 	<input type="text" id="input-websiteUrl" required ng-model="vm.webSiteUrl" class="input_box_md">
			</md-input-container>
		</div>
		
		
		<div class ="md-title mgn_bottom_20">Organization Address</div>
		
		<div layout-gt-xs="row"  class="width_for_textbox">
			<!-- <md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Name</label>
			 	<input type="text" required ng-model="vm.adminName">
			</md-input-container> -->
			
			<md-input-container class="md-block input-primary " flex-gt-sm> 
				<label>Address Type</label>
			 	<md-select name="type" ng-model="vm.adminName" required>
            			<md-option value = "home">Home</md-option>
            			<md-option value = "office">Office</md-option>
            		</md-select>
			</md-input-container>
			
				<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Address 1</label>
			 	<input type="text" required ng-model="vm.address1">
				</md-input-container>
				
				<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Address 2</label>
			 	<input type="text" required ng-model="vm.address2">
				</md-input-container>
			</div>
			<div layout-gt-xs="row"  class="width_for_textbox">
				<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>City</label>
			 	<input type="text" required ng-model="vm.city">
				</md-input-container>
		
				<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
         			 <label>State</label>
          			 <md-select name="type" ng-model="vm.state" required>
            			<md-option ng-repeat="each in vm.states" value = {{each.value}}>{{each.name}}</md-option>
            		</md-select>
        		</md-input-container>
			
			
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Zip</label>
			 	<input type="number" required ng-model="vm.zip">
				</md-input-container>
			</div>
				<md-button class="md-raised button-primary"  ng-click="vm.submit()" >Submit</md-button>
				<div ng-show="vm.incomplete" ">
			 <font color="red">{{vm.validateNGOInvitation}}</font> 
		     </div>
				
		
	
</div>
</div>
<div class="clear_all">
<landing-footer></landing-footer>
</div>
</div>
		