<div class="font_for_allpages">
<top-nav></top-nav>
<div class="left_float" style="width:19%;padding-top:15px;">
<left-nav-bar></left-nav-bar>
</div>
<div class="left_float" style="width:80.2%;background-color:white;margin-left:9px;">
<div style="padding:1px;background-color:rgba(128, 128, 128, 0.43);">
<h1 style="color:white;text-align:left;padding-left:50px;">Participant Onboarding </h1>
</div>
<div class="form_style">
	
	<div class ="md-title mgn_bottom_20">Primary details</div>
		<div layout-gt-xs="row" class="width_for_textbox">
			<md-input-container  class="md-block input-primary" flex-gt-sm> 
				<label>Name of participant</label>
				<input	type="text" required autofocus="on" ng-model="vm.name" class="input_box_md" ng-blur="vm.validationCheck('text','name',vm.name)"> 
				<div id="errorMsg" ng-if="vm.fields['name']" style="color:red;" ng-bind="vm.msgs['name']"></div>
			 </md-input-container>
			 
			 
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm> 
				<label>Phone number</label>
			 	<input type="text" id="input-phone" phone-number-input required maxlength = "12" ng-model="vm.phoneNumber" ng-blur="vm.validationCheck('number','phone',vm.phoneNumber)" placeholder="999-999-9999" class="input_box_md" >
			 	<div id="errorMsg" ng-if="vm.fields['phone']" style="color:red;" ng-bind="vm.msgs['phone']"></div>
			 	<div id="errorMsg" ng-show="vm.check" style="color:red;">Phone number (eg:'123-456-7890')</div>
			</md-input-container>
		</div>
		
		<div layout-gt-xs="row" class="width_for_textbox">
		
			<md-input-container class="md-block input-primary" flex-gt-sm> 
				<label>Email address</label>
			 	<input type="email" id="" required ng-model="vm.email" class="input_box_md" ng-blur="vm.checkClientEmailAvailability();vm.validationCheck('text','email',vm.email,$event)">
			 	<div id="errorMsg" ng-if="vm.fields['email']" style="color:red;" ng-bind="vm.msgs['email']"></div>
			 	<div id="errorMsg" style="color:red;"ng-bind="vm.userEmailMessage"></div>
			</md-input-container>
			
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
				<label>State</label> 
				<md-select ng-init="vm.state" name="type" required 
						ng-model="vm.state"	ng-blur="vm.validationCheck('text','state',vm.state)">
					 <md-option ng-repeat="each in vm.states" value={{each.value}}
					  ng-init = "vm.state" >{{each.name}}</md-option>
				 </md-select> 
				<div id="errorMsg" ng-if="vm.fields['state']" style="color:red;" ng-bind="vm.msgs['state']"></div>
			</md-input-container>
		
		
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
				<label>Number of dependants allowed? </label>
				<md-select ng-model="vm.dependants" required>
				<md-option ng-repeat="n in [0,1,2,3,4,5,6,7,8,9,10]" value={{n}} >{{n}}</md-option>
				</md-select>
			</md-input-container> 
		</div>
		
			<md-button id="input-submit" class="md-raised button-primary" style="float:right;"  ng-click="vm.submit()" ng-disabled = "vm.isDisabled" >{{vm.buttonText}}</md-button>
</div>

</div>
<div class="clear_all">
<landing-footer></landing-footer>
</div>
</div>
				