<div class="font_for_allpages1" >
	<h3>Family & Education Information</h3>


<div layout-gt-xs="row" class="width_for_textbox">
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label> Number of siblings</label> <input type="number"
		ng-model="vm.family.sliblings" min="0"/> </md-input-container>

	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label> Number of Kids</label> <input type="number"
		ng-model="vm.family.kids" min="0"/> </md-input-container>
			
</div>
<br>
	<md-radio-group layout="row" ng-model="vm.family.liveAtHome"
		class="md-primary"> <label>Live at home?</label> <md-radio-button
		style="left:13px;" ng-value="true"> Yes </md-radio-button> <md-radio-button
		style="left:13px;" ng-value="false"> No </md-radio-button> </md-radio-group>
		

<br>
<div layout-gt-xs="row" class="width_for_textbox">
<div class="mission_width4">
<md-input-container class="md-block input-primary" flex-gt-sm>
	 <label>Housing status</label>
	<md-select ng-model="vm.family.sheltered" > <md-option
		ng-repeat="a in vm.housingStatus" ng-value={{a.id}}>{{a.name}}</md-option></md-select></md-input-container>

	</div>
	<div ng-show="vm.family.sheltered ==0" class="mission_width4">
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	 <label>If sheltered, Who do you live with?</label>
	<md-select ng-model="vm.family.liveWith" > <md-option
		ng-repeat="a in vm.liveWithList" ng-value={{a.id}}>{{a.name}}</md-option></md-select></md-input-container>
	</div>
	</div>	
	

	<br>

<div layout-gt-xs="row" class="width_for_textbox">
<md-input-container class="md-block input-primary" flex-gt-sm>	
	 <label>Highest level of parental education completed</label>
	<md-select ng-model="vm.family.parentEducation" > <md-option
		ng-repeat="a in vm.educationList" ng-value={{a.id}}>{{a.name}}</md-option> </md-select></md-input-container>
	<br>
<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>		
	 <label>Highest level of education completed</label>
	<md-select ng-model="vm.family.education" > <md-option
		ng-repeat="a in vm.educationList" ng-value={{a.id}}>{{a.name}}</md-option> </md-select></md-input-container>
<br>		
</div>

<div layout-gt-xs="row" class="width_for_textbox">
<md-input-container class="md-block input-primary" flex-gt-sm>
	 <label>Currently enrolled</label>
	<md-select ng-model="vm.family.enrollmentStatus" > <md-option
		ng-repeat="a in vm.educationList" ng-value={{a.id}}>{{a.name}}</md-option> </md-select></md-input-container>
	<br>
	<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
	<label> Enrolled where?</label> <input type="text"
		ng-model="vm.family.enrollmentLocation" /> </md-input-container>
</div>
	<br><br>
		<hr class="register-input-test mgn_top10" layout="row" layout-align="center center">
			<div  class="right_float">
				<br>
				<md-button class="md-raised button-primary" ng-click="vm.save();">Save
				& Next</md-button>
			</div>

</div>