	<div class="font_for_allpages1" >
	<h3>Overview Details</h3>
	<br>

	<md-radio-group  layout = "row" ng-model ="vm.connection.hasSmartPhone" class="md-primary">
	<label>Do you own a smartphone?</label>
	<md-radio-button style ="left:13px;" ng-value="true"> Yes </md-radio-button>
	<md-radio-button style ="left:13px;" ng-value="false"> No </md-radio-button>
	</md-radio-group>
	<div layout-gt-xs="row" class="width_for_textbox">
				<md-input-container class="md-block input-primary" flex-gt-sm>
            	<label>Service provider</label>
				<input type="text" ng-model="vm.connection.serviceProvider"/>
			</md-input-container>

			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            	<label>Model</label>
				<input type="text" ng-model="vm.connection.model"/>
			</md-input-container>
</div>
	
	
	<md-radio-group  layout = "row" ng-model ="vm.connection.haveMonthlyPlan" class="md-primary">
	<label>Do you have a monthly plan?</label>
	<md-radio-button style ="left:13px;" ng-value="true"> Yes </md-radio-button>
	<md-radio-button style ="left:13px;" ng-value="false"> No </md-radio-button>
	</md-radio-group>

      	
	<div ng-show = "vm.connection.haveMonthlyPlan == true">
	<div layout-gt-xs="row" class="width_for_textbox">
			<md-input-container class="md-block input-primary" flex-gt-sm>
            	<label> Monthly plan minutes</label>
				<input type="text" ng-model="vm.connection.monthlyPlanMinute"/>
			</md-input-container>
	
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            	<label> Monthly plan data</label>
				<input type="text" ng-model="vm.connection.monthlyPlanData"/>
			</md-input-container>
			
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            	<label>Cost of monthly plan?</label>
				<input type="text" ng-model="vm.connection.monthlyPlanCost"/>
			</md-input-container>
	</div>
	</div>
	<div ng-show = "vm.connection.haveMonthlyPlan == false">
		<br>
	<div layout-gt-xs="row" class="width_for_textbox">	
		<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Alternative plan</label> <md-select ng-model="vm.service.altMonthlyPlan">
				<md-option value=1>purchase pre-paid minutes</md-option>
				<md-option value=2>use wifi exclusively</md-option>
				<md-option value=3>others</md-option>
			</md-select>
	
	</md-input-container>
			<md-input-container class="md-block input-primary mgn_left_25" flex-gt-sm>
            	<label>If others,</label>
				<input type="text" ng-model="vm.connection.altMonthlyPlanTogether"/>
			</md-input-container>
	
	</div>
	</div>
	<br><br>
	<hr class "register-input" layout="row" layout-align="center center">
	<div  class="left_float">
	<br>
	<md-button class="md-raised button-primary " class="save_next_btn" ng-click="vm.save();" >Save & Next</md-button>
	
	</div>
	
	</div>