<br>
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>First Name</label> <input type="text" 
				ng-model="vm.user.firstName" /></md-input-container>
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Middle Name</label>
	<input type="text"  
				ng-model="vm.user.middleName" /></md-input-container>
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Last Name</label> <input type="text" required
		ng-model="vm.vol.lastName" /> </md-input-container>
	</md-input-container>
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Ethnicity</label> <md-select required ng-model="vm.user.ethnicity" ><md-option ng-value=1>option 1</md-option>
					<md-option ng-value=2>option 2</md-option></md-select> </md-input-container>
	</md-input-container>
	<md-input-container class="md-block input-primary" flex-gt-sm>
	<label>Phone Number</label> <input type="number"  required
				ng-model="vm.user.phoneNumber" /> </md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
	<label>Birthday</label> <input type="date" ng-model="vm.client.bday">
	<!-- <md-datepicker ng-model="vm.vol.birthDate" md-placeholder="Enter date" md-is-open="true"></md-datepicker> -->
	</md-input-container>
	<md-radio-group  layout = "row" ng-model="vm.client.beenArrested" class="md-primary">
	<label>Have you ever been arrested </label>
	<md-radio-button style ="left:15px;" ng-value="true"> Yes </md-radio-button>
	<md-radio-button style ="left:15px;" ng-value="false"> No </md-radio-button>
	</md-radio-group>
	<br><br>
	<md-radio-group  layout = "row" ng-model="vm.user.felony"  class="md-primary">
	<label>Have you ever been convicted of a felony?</label>
	<md-radio-button style ="left:13px;" ng-value="true"> Yes </md-radio-button>
	<md-radio-button style ="left:13px;" ng-value="false"> No </md-radio-button>
	</md-radio-group>
	<div style="float: right">
		<br>
		<md-button class="md-raised button-primary" ng-click="vm.save();">Save & Next</md-button>
	</div>
</div>
