<top-nav></top-nav>

<div id="dashboard-section">
    <div class="action-cards-section" layout="row" layout-wrap>
        <action-card flex-gt-sm="25" flex="100" icon="&#xE561;" icon-text="+ Providers"></action-card>
        <action-card flex-gt-sm="25" flex="100" icon="&#xE87C;" icon-text="+ Clients"></action-card>
        <action-card flex-gt-sm="25" flex="100" icon="&#xE7FB;" icon-text="+ Volunteers"></action-card>
        <action-card flex-gt-sm="25" flex="100" icon="&#xE0DA;" icon-text="+ Access Code"></action-card>
    </div>

    <organization-section></organization-section>
</div>