<div class="font_for_allpages">
	<md-content layout-padding layout="row" layout-align="center" ng-if="vm.showReport[vm.reportType]">
		<div flex-gt-md="100" flex-md="100" flex-xs="100"  class="md-whiteframe-24dp">
			<div id="test{{vm.reportType}}" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns ui-grid-cellnav ui-grid-auto-resize class="grid">
			</div>
		   <!--  <hr> -->
		   <br/>
		    <div>
		    	<fieldset class= "border">
		    		<legend><b>Quick Actions</b></legend>
		    		<center>
					    <md-switch style= "float: left;" ng-if="vm.isParticipant || vm.isProvider" ng-disabled="vm.disableActivate" ng-model="vm.isActivated" ng-click="vm.activated()">Activate / Deactivate</md-switch>
					    <md-button class="md-raised button-primary" ng-if="vm.isVolunteer||vm.isNgo||vm.isParticipant" ng-disabled="vm.sendMsg" aria-label="Send message" ng-click="vm.sendMessage()">Send Message</md-button>
						<md-button class="md-raised button-primary" ng-disabled="vm.disableDelete" aria-label="Delete user" ng-click="vm.deleteSelected()">Delete</md-button>
						<!-- <md-button class="md-raised button-primary" ng-disabled="vm.disableViewProfile" ng-click="vm.viewProfile()">View Profile</md-button> -->
						<md-switch style= "float: right;" ng-if="vm.isParticipant" ng-disabled="vm.disableSheltered" ng-model="vm.isSheltered" ng-click="vm.sheltered()">Sheltered / Unsheltered</md-switch>
					</center>
				</fieldset>
		</div>
		</div>
	</md-content>
</div> 

