.green {
  background: #b9f6ca;
  width:50%; }
  
  .red {
  background: #ff8a80;
  width:50%; }
  #header{
 padding-top:12%;
 padding-left:10%; }
 #data{
 padding-top:12%;
 padding-left:10%; }