@import '_includes';

md-card.organization-card {
  position: relative;
  height: rem(280px);
  padding-bottom: rem(36px);
  color: $color-text;
  background-color: $color-white;

  & .org-view-button {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid $color-org-border;
    color: $color-org-card;
  }
}

.org-image-header {
  width: 100%;
  padding: rem(12px) rem(40px) rem(12px) rem(40px);
  box-sizing: border-box;
  border-bottom: 2px solid $color-org-border;
  text-align: center;

  & img {
    height: rem(40px);
  }
}

.org-card-name {
  margin-bottom: rem(12px);
  font-size: rem(16px);
  font-weight: 600;
}

.org-info-section {
  padding: rem(12px) rem(24px) rem(12px) rem(24px);
}

.org-card-info {
  margin-bottom: rem(12px);
  font-size: rem(14px);

  & .material-icons {
    margin-right: rem(4px);
    color: $color-org-card;
    font-size: rem(14px);
  }

  & a {
    color: $color-org-card;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.input-expandable {
  position: absolute;
  top: 2px;
  right: 0;
  width: auto;
  color: $color-org-card;
  cursor: pointer;
  z-index: 3;
  transition: opacity $time-default, transform $time-default $timing-bounce;

  input, input:hover {
    padding: 0 rem(4px) rem(4px) rem(24px);
    height: rem(20px);
    width: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-size: rem(14px);
    color: $color-org-card;
    cursor: pointer;
    outline: 0;
    transition: background-color $time-default, width $time-default $timing-bounce, padding $time-default $timing-bounce;

    &:focus {
      padding: 0 rem(4px) rem(4px) rem(24px);
      border-bottom: 2px solid $color-org-card;
      background-color: transparent;
      width: rem(128px);

      & + label:after {
        opacity: 1;
      }
    }
  }

  label {
    height: rem(16px);
    width: rem(16px);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      font-family: "Material Icons";
      content: "search";
      font-size: rem(20px);
      opacity: 0.7;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}